<div class="container">
  <div class="container-small">
    <div class="feedback-reviews">
      <div class="master-reviews">
        <div class="master-reviews__row-title">
          <h2 class="master-reviews__title">Следующие отзывы</h2>
        </div>
        <div class="master-reviews__reviews">
          <ul class="">
            <li class="master-reviews__item feedback-reviews__item review-item">
              <div class="review-item__rating">
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </div>
              <a href="#" class="review-item__title h4">Ремонт стиральной машины</a>
              <p class="review-item__text">
                Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
                обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
                дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы
                предполагали. Рекомендуем! Все отлично!
              </p>
              <div class="review-item__row">
                <div class="review-item__author">Юрий, Пушкино</div>
                <div class="review-item__date">сегодня</div>
              </div>
            </li>
            <li class="master-reviews__item feedback-reviews__item review-item">
              <div class="review-item__rating">
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </div>
              <a href="#" class="review-item__title h4">Ремонт стиральной машины</a>
              <p class="review-item__text">
                Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
                обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
                дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы
                предполагали. Рекомендуем! Все отлично!
              </p>
              <div class="review-item__row">
                <div class="review-item__author">Юрий, Пушкино</div>
                <div class="review-item__date">сегодня</div>
              </div>
            </li>
            <li class="master-reviews__item feedback-reviews__item review-item">
              <div class="review-item__rating">
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </div>
              <a href="#" class="review-item__title h4">Ремонт стиральной машины</a>
              <p class="review-item__text">
                Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
                обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
                дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы
                предполагали. Рекомендуем! Все отлично!
              </p>
              <div class="review-item__row">
                <div class="review-item__author">Юрий, Пушкино</div>
                <div class="review-item__date">сегодня</div>
              </div>
            </li>
            <li class="master-reviews__item feedback-reviews__item review-item">
              <div class="review-item__rating">
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </div>
              <a href="#" class="review-item__title h4">Ремонт стиральной машины</a>
              <p class="review-item__text">
                Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
                обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
                дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы
                предполагали. Рекомендуем! Все отлично!
              </p>
              <div class="review-item__row">
                <div class="review-item__author">Юрий, Пушкино</div>
                <div class="review-item__date">сегодня</div>
              </div>
            </li>
            <li class="master-reviews__item feedback-reviews__item review-item">
              <div class="review-item__rating">
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </div>
              <a href="#" class="review-item__title h4">Ремонт стиральной машины</a>
              <p class="review-item__text">
                Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
                обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
                дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы
                предполагали. Рекомендуем! Все отлично!
              </p>
              <div class="review-item__row">
                <div class="review-item__author">Юрий, Пушкино</div>
                <div class="review-item__date">сегодня</div>
              </div>
              <div class="review-item__row">
                <span class="review-item__position">Мастер:</span>
                <a class="link link--blue" href=""> Денисенко Михаил</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="feedback-reviews__button">
        <a href="" class="btn btn--border">
          <span class="btn__text">Смотреть все отзывы</span>
          <svg class="service-geography__btn-icon btn__btn-icon">
            <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
