<div class="container">
  <div class="questions-list">
    <div class="questions-list__filters-row">
      <div class="questions-list__dropdown dropdown js-dropdown-parent">
        <label class="dropdown__label" for="1">Тип техники</label>
        <select id="1" class="js-dropdown" name="type" data-placeholder="Выберите">
          <option value selected disabled>Выберите</option>
          <option value="1">Холодильник</option>
          <option value="3">Стиральная машина</option>
          <option value="4">Посудомоечная машина</option>
          <option value="4">Электроплита</option>
          <option value="4">Газовая плита</option>
          <option value="4">Кофемашина</option>
          <option value="4">Телевизор</option>
        </select>
      </div>
      <div class="questions-list__search dropdown dropdown--search js-search-parent">
        <label class="dropdown__label" for="2">Марка техники</label>
        <select id="2" class="js-search" name="type" data-placeholder="Начните вводить название">
          <option value selected>Начните вводить название</option>
          <option value="1">Candy</option>
          <option value="3">Саратов</option>
          <option value="4">Ariston</option>
          <option value="4">LG</option>
          <option value="4">Bosch</option>
          <option value="4">Samsung</option>
          <option value="4">Sanyo</option>
          <option value="4">Ariston</option>
          <option value="4">LG</option>
          <option value="4">Bosch</option>
          <option value="4">Samsung</option>
          <option value="4">Sanyo</option>
        </select>
      </div>
    </div>
    <div class="questions-list__questions">
      <ul class="questions-list">
        <li class="questions-list__item">
          <div class="question-item question-item--questions-page">
            <div class="question-item__top">
              <span class="question-item__name">Юрий</span>
              <span class="question-item__date">13 мар 2020</span>
            </div>
            <a href="#" class="question-item__text js-hidden-text" data-sm-height="104" data-md-height="78" data-lg-height="104">
              Посудомойка 60 см Bosch Serie | 2 SMV25AX03R после выбора программы мойки и нажатия кнопки "Старт" начинает мигать индикатор щетка
              "Мытье посуды". Машина при этом воду набирает и работает. Вопрос: мигание этого индикатора это неисправность или машина показывает, что
              готова к работе?
            </a>
            <div class="question-item__multimedia">
              <div class="question-item__img">
                <img data-src="./img/picture/img-comment.png" alt="" src="./img/picture/img-comment.png" />
              </div>
            </div>
            <div class="question-item__row">
              <div class="question-item__views">
                <div class="views">
                  <svg class="views__icon">
                    <use xlink:href="img/icons.svg#icon_eye"></use>
                  </svg>
                  <div class="views__amount">345</div>
                </div>
              </div>
              <div class="question-item__rating">
                <div class="rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4.5</div>
                </div>
              </div>
            </div>
          </div>
          <ul class="questions-list__comments comments-list">
            <li class="comments-list__item">
              <div class="comment comment--master">
                <div class="comment__top">
                  <div class="comment__avatar">
                    <img data-src="./img/picture/master-avatar.svg" src="./img/picture/master-avatar.svg" alt="" />
                  </div>
                  <span class="comment__name">Ответ мастера</span>
                </div>
                <div class="comment__text js-hidden-text" data-sm-height="96" data-md-height="72" data-lg-height="56">
                  Ирина, ошибка E03 в стиральной машине КАНДИ - означает неисправность в системе слива воды. О том, что можно сделать, можно прочесть
                  на нашем сайте <a href="#">по ссылке</a>.
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="questions-list__item">
          <div class="question-item question-item--questions-page">
            <div class="question-item__top">
              <span class="question-item__name">Юрий</span>
              <span class="question-item__date">13 мар 2020</span>
            </div>
            <a href="#" class="question-item__text js-hidden-text" data-sm-height="104" data-md-height="78" data-lg-height="104">
              добрый день машинка стиральная бош 7 логикс она перестала отжимать выдает ошибку черезиндикаторы с тремя звуковыми сигналами ...
            </a>
            <div class="question-item__row">
              <div class="question-item__views">
                <div class="views">
                  <svg class="views__icon">
                    <use xlink:href="img/icons.svg#icon_eye"></use>
                  </svg>
                  <div class="views__amount">345</div>
                </div>
              </div>
              <div class="question-item__rating">
                <div class="rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4.5</div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="questions-list__item">
          <div class="question-item question-item--questions-page">
            <div class="question-item__top">
              <span class="question-item__name">Петр Петрович</span>
              <span class="question-item__date">13 мар 2020</span>
            </div>
            <a href="#" class="question-item__text js-hidden-text" data-sm-height="104" data-md-height="78" data-lg-height="104">
              мой холодильник начал плохо морозить я понял сто случайно оставили дверь открытым и заморозила все отсеки , но выключил холодильник на 8
              часов и опять включил , но есть изменение конечно , но не так как работал раньше , какие симптомы после разморозка: во первых не морозит
              как хотелось бы , есть конечно изменения но не так , и самое главно я помню когда открывали и закрывали дверь морозилки постоянно
              работала вакуумная система и после очень рудно было открывать дверь открыть
            </a>
            <div class="question-item__multimedia">
              <div class="question-item__img">
                <img data-src="./img/picture/img-comment.png" src="./img/picture/img-comment.png" alt="" />
              </div>
            </div>
            <div class="question-item__row">
              <div class="question-item__views">
                <div class="views">
                  <svg class="views__icon">
                    <use xlink:href="img/icons.svg#icon_eye"></use>
                  </svg>
                  <div class="views__amount">345</div>
                </div>
              </div>
              <div class="question-item__rating">
                <div class="rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4.5</div>
                </div>
              </div>
            </div>
          </div>
          <ul class="questions-list__comments comments-list">
            <li class="comments-list__item">
              <div class="comment comment--master">
                <div class="comment__top">
                  <div class="comment__avatar">
                    <img data-src="./img/picture/master-avatar.svg" src="./img/picture/master-avatar.svg" alt="" />
                  </div>
                  <span class="comment__name">Ответ мастера</span>
                </div>
                <div class="comment__text js-hidden-text" data-sm-height="96" data-md-height="72" data-lg-height="56">
                  Ирина, ошибка E03 в стиральной машине КАНДИ - означает неисправность в системе слива воды. О том, что можно сделать, можно прочесть
                  на нашем сайте <a href="#">по ссылке</a>. Попробуйте поискать такую панель на разборках стиральных машин, так же можете попробовать
                  заказать ее в магазинах торгующих запчастями для бытовой техники или попробовать заклеить свою, сломанную панель.
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="questions-list__bottom">
      <div class="questions-list__pagination-row">
        <div class="pagination">
          <div class="pagination__row">
            <ul class="pagination__list">
              <li class="pagination__item disabled">
                <a href="">
                  <svg class="pagination__item-icon pagination__item-icon--prev">
                    <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                  </svg>
                </a>
              </li>
              <li class="pagination__item current">
                <a href=""><span>1</span></a>
              </li>
              <li class="pagination__item">
                <a href=""><span>2</span></a>
              </li>
              <li class="pagination__item">
                <a href=""><span>3</span></a>
              </li>
              <li class="pagination__item"><span>...</span></li>
              <li class="pagination__item">
                <a href=""><span>99</span></a>
              </li>
              <li class="pagination__item">
                <a href="">
                  <svg class="pagination__item-icon pagination__item-icon--next">
                    <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="pagination__amount-items">1-20 из <span class="js-format-price">22981</span> вопроса</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
