.work-scheme {
  border-radius: 0 32px 0 32px;
  border: 1px solid $light-blue;
  background: $white;
  margin-top: 24px;
  z-index: 1;
  @media #{$md-and-up} {
    display: flex;
    margin-top: 32px;
    overflow: hidden;
  }
  @media #{$xl-and-up} {
    border-radius: 32px;
  }

  &__step {
    position: relative;
    @media #{$md-and-up} {
      width: 25%;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      transform: translateY(-50%);
      display: block;
      width: 36px;
      height: 24px;
      background-image: url("../../img/icons/icon_arrow-go-big.svg");
      background-repeat: no-repeat;
      background-position: center right;
      @media #{$small-only} {
        transform: rotate(90deg);
        left: 44px;
        bottom: 5px;
        width: 18px;
        height: 12px;
      }
      @media #{$md-and-up} {
        top: 64px;
        transform: translate(50%, -50%);
      }
      @media #{$xl-and-up} {
        top: 50%;
      }
    }
  }
}

.work-scheme-step {
  display: flex;
  align-items: center;
  padding: 29px 24px;

  &:first-child {
    padding: 24px 24px;
    @media #{$md-and-up} {
      padding: 32px 12px 32px 32px;
    }
    @media #{$xl-and-up} {
      padding: 40px;
    }
  }
  &:last-child {
    padding: 24px;
    @media #{$md-and-up} {
      padding: 32px 32px 32px 12px;
    }
    @media #{$xl-and-up} {
      padding: 40px;
    }
  }

  @media #{$md-and-up} {
    display: block;
    padding: 32px 12px;
  }

  @media #{$xl-and-up} {
    padding: 40px;
    text-align: center;
  }

  &__icon-wrapper {
    height: 58px;
    width: 58px;
    margin-right: 16px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    @media #{$md-and-up} {
      margin-right: 0;
      margin-bottom: 24px;
      width: 74px;
      height: 74px;
    }
    @media #{$md-and-up} {
      margin: 0 auto 24px;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
  }

  &__description {
    @include font(14, 22);
    @media #{$xl-and-up} {
      @include font(16, 24);
    }
  }

  &__title {
    font-weight: 600;
  }
}
