<div class="container">
  <div class="section-accordion">
    <div class="section-accordion__item js-spoiler opened">
      <div class="section-accordion__label js-spoiler-btn">
        <h2>Схема работы</h2>
        <svg class="section-accordion__icon">
          <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
        </svg>
      </div>
      <div class="section-accordion__container js-spoiler-container">
        <ul class="section-accordion__content work-scheme js-spoiler-content">
          <li class="work-scheme__step work-scheme-step">
            <div class="work-scheme-step__icon-wrapper">
              <svg class="work-scheme-step__icon">
                <use xlink:href="img/icons.svg#icon_scheme-step-1"></use>
              </svg>
            </div>
            <div class="work-scheme-step__description">
              <div class="work-scheme-step__title">Вы&nbsp;оставляете заявку на&nbsp;ремонт</div>
            </div>
          </li>
          <li class="work-scheme__step work-scheme-step">
            <div class="work-scheme-step__icon-wrapper">
              <svg class="work-scheme-step__icon">
                <use xlink:href="img/icons.svg#icon_scheme-step-2"></use>
              </svg>
            </div>
            <div class="work-scheme-step__description">
              <div class="work-scheme-step__title">Мастер перезванивает и&nbsp;согласовывает время визита</div>
            </div>
          </li>
          <li class="work-scheme__step work-scheme-step">
            <div class="work-scheme-step__icon-wrapper">
              <svg class="work-scheme-step__icon">
                <use xlink:href="img/icons.svg#icon_scheme-step-3"></use>
              </svg>
            </div>
            <div class="work-scheme-step__description">
              <div class="work-scheme-step__title">Мастер приезжает, проводит диагностику и&nbsp;сообщает цену ремонта</div>
            </div>
          </li>
          <li class="work-scheme__step work-scheme-step">
            <div class="work-scheme-step__icon-wrapper">
              <svg class="work-scheme-step__icon">
                <use xlink:href="img/icons.svg#icon_scheme-step-4"></use>
              </svg>
            </div>
            <div class="work-scheme-step__description">
              <div class="work-scheme-step__title">
                Мастер чинит поломку и&nbsp;даёт писменную гарантиют от&nbsp;6&nbsp;мес.&nbsp;до&nbsp;2&nbsp;лет
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="section-accordion__decorate-insert"></div>
    </div>
  </div>
</div>
