<div class="container">
  <div class="container-small">
    <div class="area-responsibility">
      <div class="area-responsibility__title h2">Сфера ответственности старшего мастера в&nbsp;СЗАО</div>
      <div class="area-responsibility__container">
        <p class="area-responsibility__text">
          Старший мастер округа&nbsp;&mdash; первый и&nbsp;&laquo;крайний&raquo; по&nbsp;всем важным вопросам. Он&nbsp;отвечает за&nbsp;оборудование
          на&nbsp;своем участке, за&nbsp;квалификацию всех мастеров округа и&nbsp;их&nbsp;регулярное дополнительное обучение ремонту новых моделей
          бытовой техники, курирует закупку комплектующих, следит за&nbsp;соблюдением корпоративных стандартов качества &laquo;РемБытТех&raquo;.
        </p>
        <p class="area-responsibility__text">
          Поэтому лично по&nbsp;вызовам Александр Кириллович, конечно, уже не&nbsp;ездит&nbsp;&mdash; просто некогда. Но&nbsp;Вы&nbsp;наверняка
          почувствуете его вклад при выполнении ремонта в&nbsp;своем случае, потому что именно старший мастер округа организует все
          те&nbsp;&laquo;мелочи&raquo;, из&nbsp;которых складывается общее впечатление от&nbsp;сервиса. Например:
        </p>
        <div class="js-readmore js-no-destroy">
          <div class="area-responsibility__list readmore__wrapper js-readmore__wrapper active">
            <ul class="js-readmore__container">
              <li>Пунктуальное прибытие мастера по&nbsp;вызову&nbsp;&mdash; точно в&nbsp;назначенное время;</li>
              <li>Быстрое и&nbsp;бесплатное выполнение диагностики поломок на&nbsp;месте;</li>
              <li>
                Выставление общего счета за&nbsp;ремонт <a href="#" class="link link--blue">по&nbsp;официальным расценкам &laquo;РемБытТех&raquo;;</a>
              </li>
              <li>
                Согласование срока, необходимого для полного завершения всех ремонтных работ в&nbsp;Вашем случае&nbsp;&mdash; а&nbsp;потом
                неукоснительное следование этому сроку;
              </li>
              <li>Предоставление гарантии на&nbsp;все работы, которые были выполнены во&nbsp;время ремонта;</li>
              <li>
                Опрятность и&nbsp;вежливость мастера, его четкие, профессиональные действия и&nbsp;Ваше намерение рекомендовать
                &laquo;РемБытТех&raquo; в&nbsp;качестве образцового сервисного центра своим друзьям и&nbsp;коллегам.
              </li>
            </ul>
          </div>
          <div class="repair-district-top__buttons top-page__buttons js-readmore__buttons readmore__buttons">
            <button class="btn-read-more btn-read-more--deploy js-readmore__btn-deploy readmore__button">Читать далее</button>
            <button class="btn-read-more btn-read-more--roll-up js-readmore__btn-roll-up readmore__button">Свернуть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
