<div id="question-popup-msg-popup" class="pop-up js-pop-up">
  <div class="pop-up__wrapper">
    <button type="button" class="pop-up__btn-close js-pop-up-close mfp-close">
      <svg class="pop-up__icon-close">
        <use xlink:href="./img/icons.svg#icon_close"></use>
      </svg>
    </button>
    <div class="pop-up__container">
      <div class="pop-up__top">
        <div class="pop-up__title h1">Вопрос отправлен!</div>
        <p class="pop-up__text">
          Ваш вопрос принят и&nbsp;находится по&nbsp;адресу
          <a class="link link--blue" href="https://rembitteh.ru/ask-answer/id-question/"><span>https://rembitteh.ru/ask-answer/id-question/</span></a>
        </p>
        <p class="pop-up__text">Вы получите уведомление на указанный e-mail, когда мастер ответит на вопрос</p>
      </div>
      <a href="/" class="btn btn--blue">Вернуться на главную</a>
    </div>
  </div>
</div>
