<div class="container">
  <div class="container-small">
    <div class="master-reviews">
      <div class="master-reviews__row-title">
        <h2 class="master-reviews__title">Отзывы</h2>
        <div class="master-reviews__amount">12</div>
      </div>
      <div class="master-reviews__row">
        <div class="master-reviews__chart">
          <div class="master-reviews__chart-item chart js-chart-reviews" data-reviews-amount="12" data-current-rating="9">
            <div class="chart__text">5 звёзд</div>
            <div class="chart__scale">
              <div class="chart__scale-current js-reviews-scale"></div>
            </div>
            <div class="chart__rating-amount js-rating-amount">10</div>
          </div>
          <div class="master-reviews__chart-item chart js-chart-reviews" data-reviews-amount="12" data-current-rating="2">
            <div class="chart__text">4 звезды</div>
            <div class="chart__scale">
              <div class="chart__scale-current js-reviews-scale"></div>
            </div>
            <div class="chart__rating-amount js-rating-amount">2</div>
          </div>
          <div class="master-reviews__chart-item chart js-chart-reviews" data-reviews-amount="12" data-current-rating="1">
            <div class="chart__text">3 звезды</div>
            <div class="chart__scale">
              <div class="chart__scale-current js-reviews-scale"></div>
            </div>
            <div class="chart__rating-amount js-rating-amount">1</div>
          </div>
          <div class="master-reviews__chart-item chart js-chart-reviews" data-reviews-amount="12" data-current-rating="0">
            <div class="chart__text">2 звезды</div>
            <div class="chart__scale">
              <div class="chart__scale-current js-reviews-scale"></div>
            </div>
            <div class="chart__rating-amount js-rating-amount">0</div>
          </div>
          <div class="master-reviews__chart-item chart js-chart-reviews" data-reviews-amount="12" data-current-rating="0">
            <div class="chart__text">1 звезда</div>
            <div class="chart__scale">
              <div class="chart__scale-current js-reviews-scale"></div>
            </div>
            <div class="chart__rating-amount js-rating-amount">0</div>
          </div>
        </div>
        <div class="master-reviews__button">
          <a href="#review-popup" class=" js-popup-btn btn btn--blue">Написать отзыв</a>
        </div>
      </div>
      <div class="master-reviews__reviews js-comments" data-show-items-number="4">
        <ul class="js-comments__list">
          <li class="master-reviews__item review-item js-comments__item">
            <div class="review-item__rating">
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
            </div>
            <div class="review-item__title h4">Ремонт стиральной машины</div>
            <p class="review-item__text">
              Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
              обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
              дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы предполагали.
              Рекомендуем! Все отлично!
            </p>
            <div class="review-item__row">
              <div class="review-item__author">Юрий, Пушкино</div>
              <div class="review-item__date">сегодня</div>
            </div>
          </li>
          <li class="master-reviews__item review-item js-comments__item">
            <div class="review-item__rating">
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
            </div>
            <div class="review-item__title h4">Ремонт стиральной машины</div>
            <p class="review-item__text">
              Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
              обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
              дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы предполагали.
              Рекомендуем! Все отлично!
            </p>
            <div class="review-item__row">
              <div class="review-item__author">Юрий, Пушкино</div>
              <div class="review-item__date">сегодня</div>
            </div>
          </li>
          <li class="master-reviews__item review-item js-comments__item">
            <div class="review-item__rating">
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
            </div>
            <div class="review-item__title h4">Ремонт стиральной машины</div>
            <p class="review-item__text">
              Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
              обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
              дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы предполагали.
              Рекомендуем! Все отлично!
            </p>
            <div class="review-item__row">
              <div class="review-item__author">Юрий, Пушкино</div>
              <div class="review-item__date">сегодня</div>
            </div>
          </li>
          <li class="master-reviews__item review-item js-comments__item">
            <div class="review-item__rating">
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
            </div>
            <div class="review-item__title h4">Ремонт стиральной машины</div>
            <p class="review-item__text">
              Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
              обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
              дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы предполагали.
              Рекомендуем! Все отлично!
            </p>
            <div class="review-item__row">
              <div class="review-item__author">Юрий, Пушкино</div>
              <div class="review-item__date">сегодня</div>
            </div>
          </li>
          <li class="master-reviews__item review-item js-comments__item">
            <div class="review-item__rating">
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
            </div>
            <div class="review-item__title h4">Ремонт стиральной машины</div>
            <p class="review-item__text">
              Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
              обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
              дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы предполагали.
              Рекомендуем! Все отлично!
            </p>
            <div class="review-item__row">
              <div class="review-item__author">Юрий, Пушкино</div>
              <div class="review-item__date">сегодня</div>
            </div>
          </li>
          <li class="master-reviews__item review-item js-comments__item">
            <div class="review-item__rating">
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
              <svg class="review-item__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
            </div>
            <div class="review-item__title h4">Ремонт стиральной машины</div>
            <p class="review-item__text">
              Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
              обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
              дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы предполагали.
              Рекомендуем! Все отлично!
            </p>
            <div class="review-item__row">
              <div class="review-item__author">Юрий, Пушкино</div>
              <div class="review-item__date">сегодня</div>
            </div>
          </li>
        </ul>
        <div class="comments-button-wrapper js-comments__button-wrapper">
          <a class="comments-button js-comments__btn">
            Еще 9 отзывов
            <svg class="comments-button__icon">
              <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
