<div class="container">
  <div class="feedback-list">
    <div class="feedback-list__filters">
      <div class="feedback-list__filters-desktop questions-list">
        <div class="questions-list__filters-row">
          <div class="questions-list__dropdown dropdown js-dropdown-parent">
            <label class="dropdown__label" for="1">Мастер</label>
            <select id="1" class="js-dropdown" name="type" data-placeholder="Выберите">
              <option value selected disabled>Выберите</option>
              <option value="1">Иван</option>
              <option value="3">Николай</option>
              <option value="4">Егор</option>
            </select>
          </div>
          <div class="questions-list__search dropdown dropdown--search js-search-parent">
            <label class="dropdown__label" for="2">Населённый пункт</label>
            <select id="2" class="js-search" name="type" data-placeholder="Начните вводить название">
              <option value selected>Начните вводить название</option>
              <option value="1">Балашиха</option>
              <option value="3">Саратов</option>
              <option value="4">Зеленоград</option>
            </select>
          </div>
          <label class="input-checkbox">
            <input type="checkbox" />
            <span class="input-checkbox__face">
              <svg>
                <use xlink:href="img/icons.svg#icon_check"></use>
              </svg>
            </span>
            Только отзывы о ремонте на дому
          </label>
        </div>
      </div>
      <div class="feedback-list__filters-mobile">
        <a href="#filters-pop-up" class="js-popup-btn feedback-list__filters-btn btn btn--border">
          <span class="feedback-list__filters-icon"> </span>
          Фильтровать отзывы
        </a>
      </div>
    </div>
    <div class="container-small">
      <div class="feedback-list__content">
        <div class="feedback-reviews">
          <div class="master-reviews">
            <div class="master-reviews__reviews">
              <ul class="">
                <li class="master-reviews__item feedback-reviews__item review-item">
                  <div class="review-item__rating">
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                  </div>
                  <a href="#" class="review-item__title h4">Ремонт стиральной машины</a>
                  <p class="review-item__text">
                    Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
                    обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
                    дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы
                    предполагали. Рекомендуем! Все отлично!
                  </p>
                  <div class="review-item__row">
                    <div class="review-item__author">Юрий, Пушкино</div>
                    <div class="review-item__date">сегодня</div>
                  </div>
                  <div class="feedback-detail-reviews__answer feedback-list__answer">
                    <ul class="comments-list">
                      <li class="comments-list__item">
                        <div class="comment comment--master">
                          <div class="comment__top">
                            <div class="comment__avatar">
                              <img data-src="./img/picture/service-quality.svg" src="./img/picture/service-quality.svg" alt="" />
                            </div>
                            <span class="comment__name">Ответ службы качества</span>
                          </div>
                          <div class="comment__text">Любовь, благодарим за отзыв. Мы свяжемся с вами в ближайшее время</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="master-reviews__item feedback-reviews__item review-item">
                  <div class="review-item__rating">
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                  </div>
                  <a href="#" class="review-item__title h4">Ремонт стиральной машины</a>
                  <p class="review-item__text">
                    Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
                    обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
                    дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы
                    предполагали. Рекомендуем! Все отлично!
                  </p>
                  <div class="review-item__row">
                    <div class="review-item__author">Юрий, Пушкино</div>
                    <div class="review-item__date">сегодня</div>
                  </div>
                </li>
                <li class="master-reviews__item feedback-reviews__item review-item">
                  <div class="review-item__rating">
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                  </div>
                  <a href="#" class="review-item__title h4">Ремонт стиральной машины</a>
                  <p class="review-item__text">
                    Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
                    обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
                    дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы
                    предполагали. Рекомендуем! Все отлично!
                  </p>
                  <div class="review-item__row">
                    <div class="review-item__author">Юрий, Пушкино</div>
                    <div class="review-item__date">сегодня</div>
                  </div>
                </li>
                <li class="master-reviews__item feedback-reviews__item review-item">
                  <div class="review-item__rating">
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                  </div>
                  <a href="#" class="review-item__title h4">Ремонт стиральной машины</a>
                  <p class="review-item__text">
                    Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
                    обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
                    дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы
                    предполагали. Рекомендуем! Все отлично!
                  </p>
                  <div class="review-item__row">
                    <div class="review-item__author">Юрий, Пушкино</div>
                    <div class="review-item__date">сегодня</div>
                  </div>
                </li>
                <li class="master-reviews__item feedback-reviews__item review-item">
                  <div class="review-item__rating">
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                    <svg class="review-item__icon">
                      <use xlink:href="img/icons.svg#icon_fill-star"></use>
                    </svg>
                  </div>
                  <a href="#" class="review-item__title h4">Ремонт стиральной машины</a>
                  <p class="review-item__text">
                    Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
                    обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
                    дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы
                    предполагали. Рекомендуем! Все отлично!
                  </p>
                  <div class="review-item__row">
                    <div class="review-item__author">Юрий, Пушкино</div>
                    <div class="review-item__date">сегодня</div>
                  </div>
                  <div class="review-item__row">
                    <span class="review-item__position">Мастер:</span>
                    <a class="link link--blue" href=""> Денисенко Михаил</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="feedback-list__bottom">
        <div class="pagination">
          <div class="pagination__row">
            <ul class="pagination__list">
              <li class="pagination__item disabled">
                <a href="">
                  <svg class="pagination__item-icon pagination__item-icon--prev">
                    <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                  </svg>
                </a>
              </li>
              <li class="pagination__item current">
                <a href=""><span>1</span></a>
              </li>
              <li class="pagination__item">
                <a href=""><span>2</span></a>
              </li>
              <li class="pagination__item">
                <a href=""><span>3</span></a>
              </li>
              <li class="pagination__item"><span>...</span></li>
              <li class="pagination__item">
                <a href=""><span>99</span></a>
              </li>
              <li class="pagination__item">
                <a href="">
                  <svg class="pagination__item-icon pagination__item-icon--next">
                    <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="pagination__amount-items">1-20 из <span class="js-format-price">22 981</span> отзывов</div>
          </div>
        </div>
      </div>
    </div>
    <div class="display-none">
      <div id="filters-pop-up" class="filters-pop-up js-pop-up">
        <div class="filters-pop-up__header">
          <div class="h2">Фильтры</div>
          <button class="js-pop-up-close mfp-close filters-pop-up__btn">
            <svg>
              <use xlink:href="./img/icons.svg#icon_close"></use>
            </svg>
          </button>
        </div>

        <div class="filters-pop-up__body">
          <form>
            <div class="questions-list__dropdown dropdown js-dropdown-parent">
              <label class="dropdown__label" for="1">Мастер</label>
              <select id="6" class="js-dropdown" name="type" data-placeholder="Выберите">
                <option value selected disabled>Выберите</option>
                <option value="1">Иван</option>
                <option value="3">Николай</option>
                <option value="4">Егор</option>
              </select>
            </div>
            <div class="questions-list__search dropdown dropdown--search js-search-parent">
              <label class="dropdown__label" for="2">Населённый пункт</label>
              <select id="5" class="js-search" name="type" data-placeholder="Начните вводить название">
                <option value selected>Начните вводить название</option>
                <option value="1">Балашиха</option>
                <option value="3">Саратов</option>
                <option value="4">Зеленоград</option>
              </select>
            </div>
            <label class="input-checkbox">
              <input type="checkbox" />
              <span class="input-checkbox__face">
                <svg>
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
              </span>
              Только отзывы о ремонте на дому
            </label>
            <div class="filters-pop-up__wrapper">
              <button class="js-pop-up-close mfp-close filters-pop-up__result btn btn--blue">Посмотреть результаты</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
