<div class="container">
  <div class="section-accordion">
    <div class="section-accordion__item js-spoiler opened">
      <div class="section-accordion__label js-spoiler-btn">
        <h2>Преимущества для вас</h2>
        <svg class="section-accordion__icon">
          <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
        </svg>
      </div>
      <div class="section-accordion__container js-spoiler-container">
        <ul class="section-accordion__content privilege-list js-spoiler-content">
          <li class="privilege-list__item privilege privilege--six-items">
            <div class="privilege__icon-wrapper">
              <svg class="privilege__icon">
                <use xlink:href="img/icons.svg#icon_master"></use>
              </svg>
            </div>
            <div class="privilege__description">
              <div class="privilege__title">Бесплатная диагностика</div>
              <div class="privilege__note">при согласии на ремонт</div>
            </div>
          </li>
          <li class="privilege-list__item privilege privilege--six-items">
            <div class="privilege__icon-wrapper">
              <svg class="privilege__icon">
                <use xlink:href="img/icons.svg#icon_warrantay-big"></use>
              </svg>
            </div>
            <div class="privilege__description">
              <div class="privilege__title">2&nbsp;года гарантии на&nbsp;работу мастера и&nbsp;запчасти</div>
            </div>
          </li>
          <li class="privilege-list__item privilege privilege--six-items">
            <div class="privilege__icon-wrapper">
              <svg class="privilege__icon">
                <use xlink:href="img/icons.svg#icon_all-day"></use>
              </svg>
            </div>
            <div class="privilege__description">
              <div class="privilege__title">Устраним поломку в течение суток после вызова</div>
            </div>
          </li>
          <li class="privilege-list__item privilege privilege--six-items">
            <div class="privilege__icon-wrapper">
              <svg class="privilege__icon">
                <use xlink:href="img/icons.svg#icon_tools"></use>
              </svg>
            </div>
            <div class="privilege__description">
              <div class="privilege__title">Оригинальные запчасти,</div>
              <div class="privilege__note">сертифицированные производителями</div>
            </div>
          </li>
          <li class="privilege-list__item privilege privilege--six-items">
            <div class="privilege__icon-wrapper">
              <svg class="privilege__icon">
                <use xlink:href="img/icons.svg#icon_sertificate"></use>
              </svg>
            </div>
            <div class="privilege__description">
              <div class="privilege__title">Квалифицированные мастера</div>
              <div class="privilege__note">Все специалисты имеют профильное образование и&nbsp;большой опыт работы</div>
            </div>
          </li>
          <li class="privilege-list__item privilege privilege--six-items">
            <div class="privilege__icon-wrapper">
              <svg class="privilege__icon">
                <use xlink:href="img/icons.svg#icon_gear"></use>
              </svg>
            </div>
            <div class="privilege__description">
              <div class="privilege__title">Крупнейший сервис в&nbsp;Москве и&nbsp;Московской области</div>
              <div class="privilege__note">С&nbsp;2003&nbsp;г. ремонтируем бытовую технику</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="section-accordion__decorate-insert"></div>
    </div>
  </div>
</div>
