<div class="container container--offset-lg-up">
  <div class="section-work-time">
    <div class="work-time ">
      <div class="work-time__item js-spoiler">
        <div class="work-time__label js-spoiler-btn ">
          <div class="work-time__icon work-time__icon--clock">
            <img data-src="./img/picture/clock.png" src="./img/picture/clock.png" alt="иконка часов">
          </div>
          <h2 class="work-time__title">Как долго мастер будет ремонтировать машинку?</h2>
          <svg class="work-time__icon work-time__icon--arrow">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </div>
        <div class="work-time__container js-spoiler-container ">
          <div class="work-time__content js-spoiler-content">
            <p>
              Как правило, любые неисправности устраняются на дому в течение 1-2х часов. После этого ваша стиральная машина вновь готова к работе. В редких особо сложных случаях ремонта может потребоваться больше времени (например, замена подшипника) или повторный приезд мастера (например, перепайка управляющего модуля).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
