<div class="container ">
  <div class="container-small">
    <div class="warranty-contact">
      <h2 class="warranty-contact__title">Контакты для связи</h2>
      <p class="warranty-contact__text">Если у вас гарантийный случай, звоните нам по телефонам ниже или оставьте заявку online, нажав на кнопку выше.
        В разговоре с менеджером  вам нужно будет назвать контактные данные (ваше имя, телефон и адрес), по которым был осуществлён ремонт в прошлый раз.</p>
      <div class="contact contact--margin">
        <div class="contact__label">
          Телефоны:
        </div>
        <div class="contact__container">
          <ul class="contact__list">
            <li class="contact__item">
              <a href="tel:+74952151441" class="contact__link">+7 (495) 215–14–41</a>
            </li>
            <li class="contact__item">
              <a href="tel:+79037221703" class="contact__link">+7 (903) 722–17–03</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="contact">
        <div class="contact__label">
          E-mail:
        </div>
        <div class="contact__container">
          <ul class="contact__list">
            <li class="contact__item">
              <a href="mailto:director@rembitteh.ru" class="contact__link contact__link--email">director@rembitteh.ru</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
