<div class="container">
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="" class="breadcrumbs__link">
          <span>Главная</span>
          <svg class="breadcrumbs__link-icon">
            <use xlink:href="img/icons.svg#icon_triangle"></use>
          </svg>
        </a>
      </li>
      <li class="breadcrumbs__item current">
        <a href="" class="breadcrumbs__link">
          <span>Блог</span>
          <svg class="breadcrumbs__link-icon">
            <use xlink:href="img/icons.svg#icon_triangle"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="blog-page">
    <h1>Блог</h1>
    <div class="blog-page__filters-row">
      <div class="blog-page__dropdown dropdown js-dropdown-parent">
        <label class="dropdown__label" for="1">Тип техники</label>
        <select id="1" class="js-dropdown" name="type" data-placeholder="Выберите">
          <option value selected disabled>Выберите</option>
          <option value="1">Холодильник</option>
          <option value="3">Стиральная машина</option>
          <option value="4">Посудомоечная машина</option>
          <option value="4">Электроплита</option>
          <option value="4">Газовая плита</option>
          <option value="4">Кофемашина</option>
          <option value="4">Телевизор</option>
          <option value="4">Электроплита</option>
          <option value="4">Газовая плита</option>
          <option value="4">Кофемашина</option>
          <option value="4">Телевизор</option>
        </select>
      </div>
      <div class="blog-page__search dropdown dropdown--search js-search-parent">
        <label class="dropdown__label" for="2">Марка техники</label>
        <select id="2" class="js-search" name="type" data-placeholder="Начните вводить название">
          <option value selected disabled>Начните вводить название</option>
          <option value="1">Candy</option>
          <option value="3">Саратов</option>
          <option value="4">Ariston</option>
          <option value="4">LG</option>
          <option value="4">Bosch</option>
          <option value="4">Samsung</option>
          <option value="4">Sanyo</option>
          <option value="4">Ariston</option>
          <option value="4">LG</option>
          <option value="4">Bosch</option>
          <option value="4">Samsung</option>
          <option value="4">Sanyo</option>
        </select>
      </div>
    </div>
    <ul class="blog-list">
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Что делать, если стиральная машина не&nbsp;греет воду?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="1000" height="600" src="./img/picture/test/blog-popular-1.jpeg" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина не&nbsp;открывается. Что делать?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина НЕ&nbsp;НАБИРАЕТ воду. Что делать?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="1000" height="600" src="./img/picture/test/blog-popular-1.jpeg" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина НЕ&nbsp;НАБИРАЕТ воду. Что делать? Советы мастера</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Что делать, если стиральная машина не&nbsp;греет воду?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="1000" height="600" src="./img/picture/test/blog-popular-1.jpeg" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина не&nbsp;открывается. Что делать?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина НЕ&nbsp;НАБИРАЕТ воду. Что делать?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="1000" height="600" src="./img/picture/test/blog-popular-1.jpeg" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина НЕ&nbsp;НАБИРАЕТ воду. Что делать? Советы мастера</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Что делать, если стиральная машина не&nbsp;греет воду?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="1000" height="600" src="./img/picture/test/blog-popular-1.jpeg" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина не&nbsp;открывается. Что делать?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина НЕ&nbsp;НАБИРАЕТ воду. Что делать?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="1000" height="600" src="./img/picture/test/blog-popular-1.jpeg" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина НЕ&nbsp;НАБИРАЕТ воду. Что делать? Советы мастера</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Что делать, если стиральная машина не&nbsp;греет воду?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="1000" height="600" src="./img/picture/test/blog-popular-1.jpeg" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина не&nbsp;открывается. Что делать?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина НЕ&nbsp;НАБИРАЕТ воду. Что делать?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="1000" height="600" src="./img/picture/test/blog-popular-1.jpeg" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина НЕ&nbsp;НАБИРАЕТ воду. Что делать? Советы мастера</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Что делать, если стиральная машина не&nbsp;греет воду?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="1000" height="600" src="./img/picture/test/blog-popular-1.jpeg" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина не&nbsp;открывается. Что делать?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина НЕ&nbsp;НАБИРАЕТ воду. Что делать?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="1000" height="600" src="./img/picture/test/blog-popular-1.jpeg" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Cтиральная машина НЕ&nbsp;НАБИРАЕТ воду. Что делать? Советы мастера</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
      <li class="blog-list__item">
        <div class="blog-item">
          <a href="" class="blog-item__link">
            <div class="blog-item__image">
              <img data-src="./img/picture/test/blog-popular-1.jpeg" src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" />
            </div>
            <div class="blog-item__right">
              <h4 class="blog-item__title">Что делать, если стиральная машина не&nbsp;греет воду?</h4>
            </div>
          </a>
          <div class="blog-item__row">
            <div class="blog-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="blog-item__comments">
              <a href="#" class="comments">
                <svg class="comments__icon">
                  <use xlink:href="img/icons.svg#icon_comment"></use>
                </svg>
                <div class="comments__amount">101</div>
              </a>
            </div>
            <div class="blog-item__date">
              <div class="date">17&nbsp;апр 2020</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="blog-page__bottom">
      <div class="blog-page__pagination-row">
        <div class="pagination pagination--gray-bg">
          <div class="pagination__row">
            <ul class="pagination__list">
              <li class="pagination__item disabled">
                <a href="">
                  <svg class="pagination__item-icon pagination__item-icon--prev">
                    <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                  </svg>
                </a>
              </li>
              <li class="pagination__item current">
                <a href=""><span>1</span></a>
              </li>
              <li class="pagination__item">
                <a href=""><span>2</span></a>
              </li>
              <li class="pagination__item">
                <a href=""><span>3</span></a>
              </li>
              <li class="pagination__item"><span>...</span></li>
              <li class="pagination__item">
                <a href=""><span>99</span></a>
              </li>
              <li class="pagination__item">
                <a href="">
                  <svg class="pagination__item-icon pagination__item-icon--next">
                    <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="pagination__amount-items">1-21 из&nbsp;<span class="js-format-price">5589</span> статей</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
