<div class="container">
  <div class="warranty-case">
    <div class="top-page">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a href="" class="breadcrumbs__link">
              <span>Главная</span>
              <svg class="breadcrumbs__link-icon">
                <use xlink:href="img/icons.svg#icon_triangle"></use>
              </svg>
            </a>
          </li>
          <li class="breadcrumbs__item current">
            <a href="" class="breadcrumbs__link">
              <span>Гарантийный случай</span>
              <svg class="breadcrumbs__link-icon">
                <use xlink:href="img/icons.svg#icon_triangle"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="top-page__content  ">
        <h1>Гарантийный случай</h1>
        <div class="top-page__row">
          <div class="top-page__right">
            <div class="top-page__wrapper  ">
              <div class="top-page__container ">
                <p class="top-page__text">
                  Мы даём официальную гарантию на проведённый нашими мастерами ремонт и заменённые запчасти от 3 месяцев до 2 лет. Срок зависит от типа поломки и деталей. Вы получаете официальную квитанцию, в ней указаны работы и запчасти, которые менялись, цена и срок гарантии.
                </p>
                <p class="top-page__text">
                  Если ваша техника сломается в этот период, то наш мастер приедет к вам еще раз и бесплатно устранит проблему.
                </p>
              </div>
              <div class="top-page__button">
                <a href="#warranty-case-popup" class=" js-popup-btn btn btn--blue">У вас гарантийный случай?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
