<div class="container">
  <div class="new-reviews">
    <div class="new-reviews__row">
      <h2 class="new-reviews__title">Новые отзывы</h2>
      <a href="#review-popup" class="js-popup-btn new-reviews__btn btn btn--orange"><span class="btn__text">Написать отзыв</span></a>
    </div>
    <div class="new-reviews__row">
      <div class="new-reviews__amount new-reviews-amount">
        <div class="new-reviews-amount__title">
          <div class="new-reviews-amount__title-amount h1">96%</div>
          <div class="new-reviews-amount__title-text">
            положительных отзывов
            <svg class="new-reviews-amount__icon">
              <use xlink:href="img/icons.svg#icon_arrow-go"></use>
            </svg>
          </div>
        </div>
        <div class="new-reviews__text">3 234 отзыва оставили клиенты за последний год</div>
      </div>
      <div class="new-reviews__list slider slider--reviews swiper-container js-swiper-container">
        <ul class="new-reviews-list slider__wrapper swiper-wrapper">
          <li class="new-reviews-list__item swiper-slide">
            <div class="review-item">
              <div class="review-item__rating">
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </div>
              <a href="#" class="review-item__title h4">Ремонт стиральной машины</a>
              <p class="review-item__text js-hidden-text"  data-sm-height="198" data-md-height="198" data-lg-height="198">
                Ремонтировали стиральную машину Самсунг. Вышел из строя нагревательный элемент, который заменил мастер. Очень понравилось качество
                обслуживания. Мастер приехал вовремя, заранее предупредил о времени приезда. Был вежлив, объяснил нам суть поломки и рассказал о
                дальнейшем уходе за стиральной машиной. Была дана гарантия на произведенные работы. Цена на работы оказалась ниже, чем мы
                предполагали. Рекомендуем! Все отлично!
              </p>
              <div class="review-item__row">
                <div class="review-item__author">Юрий, Пушкино</div>
                <div class="review-item__date">сегодня</div>
              </div>
              <div class="review-item__row">
                <div class="review-item__master">Мастер:</div>
                <a href="#" class="review-item__master-name">Денисенко Михаил</a>
              </div>
            </div>
          </li>
          <li class="new-reviews-list__item swiper-slide">
            <div class="review-item">
              <div class="review-item__rating">
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </div>
              <a href="#" class="review-item__title h4">Call-центр</a>
              <p class="review-item__text js-hidden-text" data-sm-height="198" data-md-height="198" data-lg-height="198">
                Огромное, спасибо!!! Очаровательные девушки, все подсказали, объяснили, просто супер!!! Всех мужчин, с наступающим праздником, всего
                вам парни наилучшего!!! Спасибо, за помощь, через компьютер!!! Вы, супер!!! Удачи, всем!!!
              </p>
              <div class="review-item__row">
                <div class="review-item__author">Юрий, Москва</div>
                <div class="review-item__date">22 фев 2020</div>
              </div>
            </div>
          </li>
          <li class="new-reviews-list__item swiper-slide">
            <div class="review-item">
              <div class="review-item__rating">
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
                <svg class="review-item__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </div>
              <a href="#" class="review-item__title h4">Ремонт электроплиты</a>
              <p class="review-item__text js-hidden-text" data-sm-height="198" data-md-height="198" data-lg-height="198">
                - Электроплита ЗВИ выбивала автомат. На сл.день после заявки приехал мастер по электрооборудованию Камиль. Квалифицированно заменил
                дефектную деталь. Подробно, наглядно и спокойно разъяснил причину неисправности. Благодарна этой компании за решение моей бытовой
                проблемы.
              </p>
              <div class="review-item__row">
                <div class="review-item__author">Ольга, Химки</div>
                <div class="review-item__date">29 янв 2020</div>
              </div>
              <div class="review-item__row">
                <div class="review-item__master">Мастер:</div>
                <a href="#" class="review-item__master-name">Абдулаев Камиль</a>
              </div>
            </div>
          </li>
        </ul>
        <div class="slider__btn slider__btn--prev swiper-button-prev js-btn-prev">
          <svg class="slider__btn-icon">
            <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
          </svg>
        </div>
        <div class="slider__btn slider__btn--next swiper-button-next js-btn-next">
          <svg class="slider__btn-icon">
            <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
          </svg>
        </div>
        <div class="slider__scrollbar swiper-scrollbar js-swiper-scrollbar"></div>
      </div>
    </div>
    <div class="new-reviews__buttons">
      <a  href="#" class="btn btn--border">
        <span class="btn__text">Перейти в раздел</span>
        <svg class="new-reviews__btn-icon">
          <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
