<div class="container">
  <div class="top-page top-page--not-spoiler">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Главная</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Инструкции к бытовой технике</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item current">
          <a href="" class="breadcrumbs__link">
            <span>Холодильники</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="top-page__content">
      <h1>Холодильники – руководства по эксплуатации</h1>
      <div class="top-page__row">
        <div class="top-page__right">
          <div class="top-page__wrapper">
            <div class="top-page__container">
              <p class="top-page__text">
                Выберите марку вашего холодильника из перечня ниже и бесплатно скачайте руководство по эксплуатации на русском языке на
                соответствующей странице. Или воспользуйтесь поиском.
              </p>
              <p class="top-page__text">
                Дополнительные вопросы по использованию или ремонту вашего холодильника вы можете задать мастеру «РемБытТех» в комментариях внизу
                страницы или в разделе <a href="">Вопрос-Ответ</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
