<div class="container">
  <div class="top-page">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Главная</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Блог</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Стиральные машины</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Коды ошибок</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Bosch</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item current">
          <a href="" class="breadcrumbs__link">
            <span>E23 (F23)</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="article-detail article-detail--simple js-zoom-gallery-content">
    <div class="page-content">
      <h1>Ошибка F23, E23 в стиральной машине Бош</h1>
      <p>
        Зачастую код ошибки E23 возникает во время работы стиральной машины или после включения машинки, когда должен начаться процесс набора воды или
        вода уже начала набираться в бак. При этом на нажатие кнопок стиральная машина «не отвечает» и дверцу (люк) не открывает. Обычно, даже слив
        воды через сливной фильтр и отключение от сети питания на 15-20 минут «не помогает» открыть люк.
      </p>
      <div class="page-content__images">
        <a href="./img/picture/test/article-test-1.jpg" class="js-zoom-image">
          <img data-src="./img/picture/test/article-test-1.jpg" alt="" src="./img/picture/test/article-test-1.jpg" />
        </a>
        <a href="./img/picture/test/article-test-3.jpg" class="js-zoom-image">
          <img data-src="./img/picture/test/article-test-3.jpg" alt="" src="./img/picture/test/article-test-3.jpg" />
        </a>
      </div>
      <h2>Ошибка E23, F23 в стиралках БОШ без дисплея</h2>
      <p>
        В стиральных машинах БОШ с цифровым или текстовым дисплеем горит индикация F:23 или E:23. В стиралках без цифрового дисплея индикация ошибки,
        следующая:
      </p>
      <ul>
        <li><b>Для машин серии WOR</b> мигают индикаторы – «КЛЮЧ», «Отжим», «Полоскание», «Замачивание», «Предварительная стирка».</li>
        <li>
          <b>В стиральных машинах Серии MAXX (До MAXX5)</b> – Обороты 800, 600, 400 и «Остановка с водой»; 1000, 800, 600 и «Остановка с водой»; 1200,
          800, 400 и «Без отжима». Мигают все индикаторы отжима, кроме второго сверху.
        </li>
      </ul>
      <div class="page-content__images">
        <a href="./img/picture/test/article-test-4.jpg" class="js-zoom-image">
          <img data-src="./img/picture/test/article-test-4.jpg" alt="" src="./img/picture/test/article-test-4.jpg" />
        </a>
        <a href="./img/picture/test/article-test-5.jpg" class="js-zoom-image">
          <img data-src="./img/picture/test/article-test-5.jpg" alt="" src="./img/picture/test/article-test-5.jpg" />
        </a>
      </div>
      <h2>Расшифровка ошибки</h2>
      <p>Ошибка Е23 в стиралке BOSCH – означает, что сработала система защиты от протечек.</p>

      <h2>Ошибка E:23 (F23) – в каких случаях и как можно устранить самостоятельно</h2>
      <ul>
        <li>
          <b>Протечка, не связанная со стиральной машиной.</b>
          <p>Вода попала на стиральную машину и протекла внутрь, из-за чего и сработала система защиты от протечки;</p>
        </li>
        <li>
          <b>Порошок для ручной стирки</b>
          <p>Порошок для ручной стирки обильно пениться и долго оседает из-за чего может произойти утечка воды;</p>
        </li>
        <li>
          <b>Некачественные моющие средства или неправильная их дозировка</b>
          <p>
            Некачественные порошки (а так же их избыточное количество) часто плохо вымываются и создают засоры в системе подачи воды, в следствии чего
            происходит перелив воды при ее наборе;
          </p>
        </li>
        <li>
          <b>Стирка пористых вещей</b>
          <p>Требуется вытащить и промыть дозатор;</p>
        </li>
        <li>
          <b>Дозатор (кювета). Засорился и воды льётся через край</b>
          <p>
            Некачественные порошки (а так же их избыточное количество) часто плохо вымываются и создают засоры в системе подачи воды, в следствии чего
            происходит перелив воды при ее наборе;
          </p>
        </li>
        <li>
          <b>Сливной фильтр не полностью закрыт или что-то мешает его плотному закрытию</b>
          <p>
            Вода в этом случае сочится через отверстие и попадает в металлический поддон стиралки и срабатывает защита. Необходимо выкрутить сливной
            фильтр, прочистить его и плотно закрутить;
          </p>
          <div class="page-content__images">
            <a href="./img/picture/test/article-test-8.jpg" class="js-zoom-image">
              <img data-src="./img/picture/test/article-test-8.jpg" alt="" src="./img/picture/test/article-test-8.jpg" />
            </a>
            <a href="./img/picture/test/article-test-7.jpg" class="js-zoom-image">
              <img data-src="./img/picture/test/article-test-7.jpg" alt="" src="./img/picture/test/article-test-7.jpg" />
            </a>
            <a href="./img/picture/test/article-test-6.png" class="js-zoom-image">
              <img data-src="./img/picture/test/article-test-6.png" alt="" src="./img/picture/test/article-test-6.png" />
            </a>
          </div>
        </li>
        <li>
          <b>Разовый сбой управляющего модуля</b>
          <p>В этом случае отключите стиральную машину от сети питания на 15-20 минут для сброса.</p>
        </li>
      </ul>
      <p>
        Если все это не помогло сбросить ошибку Ф 23 (Е 23), то это означает наличие неисправности в вашей стиралке БОШ, и без ремонта тут уже не
        обойтись.
      </p>
      <h2>Вероятные неисправности, требующие ремонта</h2>
      <p>В нашей практике ошибка E23 (F23) встречалась довольно часто, вот список неисправностей, при которых она может возникнуть.</p>
    </div>
    <div class="article-detail__table">
      <div class="article-table menu-accordion js-accordion js-table-fixed-header">
        <div class="article-table-top js-table-header-inner">
          <div class="article-table-top__bg-gray js-table-gray-inner">
            <div class="article-table-top__inner js-table-header">
              <div class="article-table-top__item">
                <span>Признаки</span>
              </div>
              <div class="article-table-top__item">
                <span>Поломка</span>
              </div>
              <div class="article-table-top__item">
                <span>Ремонт или замена</span>
              </div>
              <div class="article-table-top__item">
                <span>Стоимость *</span>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-accordion__item article-table__item article-table-item article-table-item--first js-accordion__item">
          <div class="article-table-item__inner">
            <div class="menu-accordion__label article-table-item__label">
              <div class="page-content page-content--table">
                <b>В стиральной машине сработал Аквастоп, сливной насос работает и не отключается, на стиралке горит код Е23.</b>
                <p>Возможно, видна вода под машиной или около нее.</p>
              </div>
              <svg class="menu-accordion__label-icon article-table-item__label-icon">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="menu-accordion__container article-table-item__container js-accordion-container">
              <div class="article-table-item__content js-accordion-container-wrapper">
                <div class="article-table-item__list">
                  <div class="article-table-item__content-item">
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Поломка</div>
                      <div class="page-content page-content--table">
                        <b>Протечка воды в стиральной машине.</b>
                        <p>Возможно, видна вода под машиной или около нее.</p>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="page-content page-content--table">
                        <b>Ремонт или замена</b>
                        <p>Мастер находит протечку и устраняет её</p>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Стоимость *</div>
                      <div class="article-table-item__bold">от <span class="js-format-price">1 500</span> руб.</div>
                    </div>
                  </div>
                  <div class="article-table-item__content-item">
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Поломка</div>
                      <div class="page-content page-content--table">
                        <b>Протечка воды в стиральной машине.</b>
                        <p>Возможно, видна вода под машиной или около нее.</p>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="page-content page-content--table">
                        <b>Ремонт или замена</b>
                        <p>Мастер находит протечку и устраняет её</p>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Стоимость *</div>
                      <div class="article-table-item__bold">от <span class="js-format-price">1 500</span> руб.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-accordion__item article-table__item article-table-item js-accordion__item">
          <div class="article-table-item__inner">
            <div class="menu-accordion__label article-table-item__label">
              <div class="page-content page-content--table">
                <b>В стиральной машине сработал Аквастоп, сливной насос работает и не отключается, на стиралке горит код Е23.</b>
                <p>Возможно, видна вода под машиной или около нее.</p>
              </div>
              <svg class="menu-accordion__label-icon article-table-item__label-icon">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="menu-accordion__container article-table-item__container js-accordion-container">
              <div class="article-table-item__content js-accordion-container-wrapper">
                <div class="article-table-item__list">
                  <div class="article-table-item__content-item">
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Поломка</div>
                      <div class="page-content page-content--table">
                        <b>Протечка воды в стиральной машине.</b>
                        <p>Возможно, видна вода под машиной или около нее.</p>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="page-content page-content--table">
                        <b>Ремонт или замена</b>
                        <p>Мастер находит протечку и устраняет её</p>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Стоимость *</div>
                      <div class="article-table-item__bold">от <span class="js-format-price">1 500</span> руб.</div>
                    </div>
                  </div>
                  <div class="article-table-item__content-item">
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Поломка</div>
                      <div class="page-content page-content--table">
                        <b>Протечка воды в стиральной машине.</b>
                        <p>Возможно, видна вода под машиной или около нее.</p>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="page-content page-content--table">
                        <b>Ремонт или замена</b>
                        <p>Мастер находит протечку и устраняет её</p>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Стоимость *</div>
                      <div class="article-table-item__bold">от <span class="js-format-price">1 500</span> руб.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="article-detail__table-note note">
        * Цены указаны только за работу мастера. Если для ремонта требуются запчасти – они оплачиваются дополнительно.
      </div>
    </div>
    <div class="article-detail__table">
      <div class="article-table menu-accordion js-accordion js-table-fixed-header">
        <div class="article-table-top article-table-top--codes js-table-header-inner">
          <div class="article-table-top__bg-gray js-table-gray-inner">
            <div class="article-table-top__inner js-table-header">
              <div class="article-table-top__item">
                <span>Код ошибки</span>
              </div>
              <div class="article-table-top__item">
                <span>Как отображается на Samsung</span>
              </div>
              <div class="article-table-top__item">
                <span>Что означает</span>
              </div>
              <div class="article-table-top__item">
                <span>Как устранить самостоятельно</span>
              </div>
              <div class="article-table-top__item">
                <span>Неисправности</span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="menu-accordion__item article-table__item article-table-item article-table-item--codes article-table-item--first js-accordion__item"
        >
          <div class="article-table-item__inner">
            <div class="menu-accordion__label article-table-item__label">
              <div>
                <div class="article-table-item__bold">5Е (SE), Е2, 5С</div>
              </div>
              <svg class="menu-accordion__label-icon article-table-item__label-icon">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="menu-accordion__container article-table-item__container js-accordion-container">
              <div class="article-table-item__content js-accordion-container-wrapper">
                <div class="article-table-item__list">
                  <div class="article-table-item__content-item">
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Как отображается на Samsung</div>
                      <div class="page-content page-content--table js-zoom-gallery-content">
                        <b>Без дисплея</b>
                        <a href="./img/picture/test/article-test-1.jpg" class="js-zoom-image">
                          <img data-src="./img/picture/test/article-test-1.jpg" alt="" src="./img/picture/test/article-test-1.jpg" />
                        </a>
                        <p>Мигают лампочки всех режимов стирки и горит температурный индикатор 40°С (второй снизу).</p>
                        <b>С экраном</b>
                        <a href="./img/picture/test/article-test-8.jpg" class="js-zoom-image">
                          <img data-src="./img/picture/test/article-test-8.jpg" alt="" src="./img/picture/test/article-test-8.jpg" />
                        </a>
                        <a href="./img/picture/test/article-test-8.jpg" class="js-zoom-image">
                          <img data-src="./img/picture/test/article-test-8.jpg" alt="" src="./img/picture/test/article-test-8.jpg" />
                        </a>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Что означает</div>
                      <div class="page-content page-content--table">
                        <b>Ошибка слива</b>
                        <p>стиральная машина Samsung не сливает воду</p>
                        <a href="#"><span>Читать подробнее</span>&nbsp;>></a>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">как устранить самостоятельно</div>
                      <div class="page-content page-content--table">
                        <ul>
                          <li>засор сливного фильтра;</li>
                          <li>засор канализации;</li>
                          <li>перегиб или засор в сливном шланге;</li>
                          <li>засор сливного насоса;</li>
                          <li>разовый сбой модуля управления.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">неисправности</div>
                      <div class="page-content page-content--table">
                        <ul>
                          <li>сливной насос (помпа)</li>
                          <li>засор в сливном патрубке;</li>
                          <li>плата управления (электронный контроллер);</li>
                          <li>проводка, контакты в цепи помпы</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-accordion__item article-table__item article-table-item article-table-item--codes js-accordion__item">
          <div class="article-table-item__inner">
            <div class="menu-accordion__label article-table-item__label">
              <div>
                <div class="article-table-item__bold">5Е (SE), Е2, 5С</div>
              </div>
              <svg class="menu-accordion__label-icon article-table-item__label-icon">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="menu-accordion__container article-table-item__container js-accordion-container">
              <div class="article-table-item__content js-accordion-container-wrapper">
                <div class="article-table-item__list">
                  <div class="article-table-item__content-item">
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Как отображается на Samsung</div>
                      <div class="page-content page-content--table js-zoom-gallery-content">
                        <b>Без дисплея</b>
                        <a href="./img/picture/test/article-test-7.jpg" class="js-zoom-image">
                          <img data-src="./img/picture/test/article-test-7.jpg" alt="" src="./img/picture/test/article-test-7.jpg" />
                        </a>
                        <p>Мигают лампочки всех режимов стирки и горят лампочки температуры 40°С и 60°С (два центральных индикатора).</p>
                        <p>Мигают лампочки всех режимов стирки и горит температурный индикатор 40°С (второй снизу).</p>
                        <b>С экраном</b>
                        <a href="./img/picture/test/article-test-5.jpg" class="js-zoom-image">
                          <img data-src="./img/picture/test/article-test-5.jpg" alt="" src="./img/picture/test/article-test-5.jpg" />
                        </a>
                        <a href="./img/picture/test/article-test-5.jpg" class="js-zoom-image">
                          <img data-src="./img/picture/test/article-test-5.jpg" alt="" src="./img/picture/test/article-test-5.jpg" />
                        </a>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Что означает</div>
                      <div class="page-content page-content--table">
                        <b>Ошибка слива</b>
                        <p>стиральная машина Samsung не сливает воду</p>
                        <a href="#"><span>Читать подробнее</span>&nbsp;>></a>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">как устранить самостоятельно</div>
                      <div class="page-content page-content--table">
                        <ul>
                          <li>засор сливного фильтра;</li>
                          <li>засор канализации;</li>
                          <li>перегиб или засор в сливном шланге;</li>
                          <li>засор сливного насоса;</li>
                          <li>разовый сбой модуля управления.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">неисправности</div>
                      <div class="page-content page-content--table">
                        <ul>
                          <li>сливной насос (помпа)</li>
                          <li>засор в сливном патрубке;</li>
                          <li>плата управления (электронный контроллер);</li>
                          <li>проводка, контакты в цепи помпы</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="article-detail__table-note note">
        * Цены указаны только за работу мастера. Если для ремонта требуются запчасти – они оплачиваются дополнительно.
      </div>
    </div>
    <div class="article-detail__table">
      <div class="article-table menu-accordion js-accordion js-table-fixed-header">
        <div class="article-table-top js-table-header-inner">
          <div class="article-table-top__bg-gray js-table-gray-inner">
            <div class="article-table-top__inner js-table-header">
              <div class="article-table-top__item">
                <span>Признаки</span>
              </div>
              <div class="article-table-top__item">
                <span>Вероятная причина</span>
              </div>
              <div class="article-table-top__item">
                <span>Ремонт или замена</span>
              </div>
              <div class="article-table-top__item">
                <span>Стоимость *</span>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-accordion__item article-table__item article-table-item article-table-item--first js-accordion__item">
          <div class="article-table-item__inner">
            <div class="menu-accordion__label article-table-item__label">
              <div class="page-content page-content--table">
                <b
                  >Стиральная машина не блокирует дверцу, и стирка не запускается. Через несколько минут после включения выдаётся ошибка Ф 6 или Ф
                  06.</b
                >
                <b>После окончания программы машинка Аристон не открывается, и высвечивается код ошибки УБЛ.</b>

                <b>Прерывает программу на стирке, полоскании или отжиме.</b>
              </div>
              <svg class="menu-accordion__label-icon article-table-item__label-icon">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="menu-accordion__container article-table-item__container js-accordion-container">
              <div class="article-table-item__content js-accordion-container-wrapper">
                <div class="article-table-item__list">
                  <div class="article-table-item__content-item">
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">вероятная причина</div>
                      <div class="page-content page-content--table">
                        <b>Вышло из строя устройство блокировки люка (УБЛ) </b>
                        <p>Из-за его поломки дверца машинки не закрывается или, наоборот, не отпирается.</p>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="page-content page-content--table">
                        <b>Ремонт или замена</b>
                        <p>Требуется замена УБЛ</p>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Стоимость *</div>
                      <div class="article-table-item__bold">от <span class="js-format-price">1 500</span> руб.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-accordion__item article-table__item article-table-item js-accordion__item">
          <div class="article-table-item__inner">
            <div class="menu-accordion__label article-table-item__label">
              <div class="page-content page-content--table">
                <b>Стиральная машина не запускает программу и пишет код F 06.</b>
                <p>
                  В некоторых случаях программа может выполняться как обычно, но, затем, прерывается (на режиме стирки, полоскания или отжима) данной
                  ошибкой.
                </p>
              </div>
              <svg class="menu-accordion__label-icon article-table-item__label-icon">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="menu-accordion__container article-table-item__container js-accordion-container">
              <div class="article-table-item__content js-accordion-container-wrapper">
                <div class="article-table-item__list">
                  <div class="article-table-item__content-item">
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">вероятная причина</div>
                      <div class="page-content page-content--table">
                        <b>Неисправна плата </b>
                        <p>
                          (электронный контроллер) — основная микросхема, которая управляет работой всей стиралки. На плате вышли из строя
                          радиоэлементы в цепи управления УБЛ. Чаще всего, это симисторы, резисторы, диоды, варисторы и т.п. Иногда прогорают
                          дорожки, по которым передаётся сигнал, или отгорают контакты радиоэлементов. Нечасто к ошибке УБЛ могут также приводить:
                        </p>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="page-content page-content--table">
                        <b>Ремонт или замена</b>
                        <p>
                          Все элементы электронного контроллера в цепи управления УБЛ, прозваниваются мультиметром и при обнаружении неисправности
                          заменяются. Отгоревшие контакты и прогоревшие дорожки восстанавливаются. При сбое прошивки контроллер перепрошивается
                          по-новой.
                        </p>
                        <p>
                          Если восстановить модуль посредством перечисленных манипуляций не получается или сразу становится понятно, что причина в
                          процессоре, то контроллер заменяют на новый.
                        </p>
                      </div>
                    </div>
                    <div class="article-table-item__content-item-column">
                      <div class="article-table-item__content-item-name">Стоимость *</div>
                      <div class="article-table-item__bold">от <span class="js-format-price">1 500</span> руб.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="article-detail__table-note note">
        * Цены указаны только за работу мастера. Если для ремонта требуются запчасти – они оплачиваются дополнительно.
      </div>
    </div>
  </div>
  <div class="page-content">
    <p>
      Ошибка F:23(E:23) может привести к достаточно печальным последствиям – залив соседей водой, короткое замыкание электропроводки и прочее. Не
      рекомендуем использовать стиралку БОШ с такой неисправностью до устранения причины ее возникновения.
    </p>
    <b>Если самостоятельно у вас не получилось устранить эту ошибку, то вызывайте мастеров нашего сервисного центра по телефонам:</b>
    <div class="link-wrapper">
      <a href="tel:74952151441" class="link"><span>+7 (495) 215–14–41</span></a>
      <a href="tel:79037221703" class="link"><span>+7 (903) 722–17–03</span></a>
    </div>
    <b>Или отправляйте <a href="#query-repairs-popup" class="js-popup-btn">онлайн-заявку.</a></b>
    <p>Мастера «РемБытТех» работают с 8 до 22 часов и оперативно с`могут помочь вам в ремонте вашей техники. Обращайтесь!</p>
  </div>
  <div class="article-detail__bottom">
    <div class="article-detail__tags">
      <div class="tags">
        <div class="tags__tags">Тэги:</div>
        <a href="" class="tags__item">Стиральные машины</a>
        <a href="" class="tags__item">Candy</a>
        <a href="" class="tags__item">Еще тег</a>
      </div>
    </div>
    <div class="article-detail__rating">
      <div class="rating-form-wrapper">
        <div class="rating-form-wrapper__row">
          <div class="rating-form-wrapper__text">Оцени:</div>
          <div class="rating-form js-rating-form">
            <input type="radio" id="star-5" name="rating" value="1" class="js-rating-input" />
            <label for="star-5" title="Оценка «5»" class="rating-form__label js-rating-label">
              <svg class="rating-form__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
            </label>
            <input type="radio" id="star-4" name="rating" value="2" class="js-rating-input" />
            <label for="star-4" title="Оценка «4»" class="rating-form__label js-rating-label">
              <svg class="rating-form__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
            </label>
            <input type="radio" id="star-3" name="rating" value="3" class="js-rating-input" />
            <label for="star-3" title="Оценка «3»" class="rating-form__label js-rating-label">
              <svg class="rating-form__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
            </label>
            <input type="radio" id="star-2" name="rating" value="4" class="js-rating-input" />
            <label for="star-2" title="Оценка «2»" class="rating-form__label js-rating-label">
              <svg class="rating-form__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
            </label>
            <input type="radio" id="star-1" name="rating" value="5" class="js-rating-input" />
            <label for="star-1" title="Оценка «1»" class="rating-form__label js-rating-label">
              <svg class="rating-form__icon">
                <use xlink:href="img/icons.svg#icon_fill-star"></use>
              </svg>
            </label>
            <div class="rating-form__tooltip js-rating-tooltip">Спасибо за вашу оценку!</div>
          </div>
        </div>
        <div class="rating-form-wrapper__note">(в среднем 4.5 на основе 11 голосов)</div>
      </div>
    </div>
  </div>
</div>
