<div class="container">
  <div class="alphabet-type">
    <div class="alphabet-type__search dropdown dropdown--search js-search-parent">
      <label class="dropdown__label" for="2">Марка или модель холодильника </label>
      <select id="2" class="js-search" name="type" data-placeholder="Начните набирать">
        <option value selected disabled>Начните набирать</option>
        <option value="1">Samsung</option>
        <option value="3">Candy</option>
        <option value="4">Daewoo Electronics</option>
        <option value="4">Ecotronic</option>
        <option value="4">Freggia</option>
        <option value="4">GoldStar</option>
        <option value="4">IP INDUSTRIE</option>
        <option value="4">Liberton</option>
        <option value="4">Whirlpool</option>
        <option value="4">Panasonic</option>
        <option value="4">Sharp</option>
      </select>
    </div>
    <ul class="alphabet-type__list menu-accordion js-accordion">
      <li class="menu-accordion__item alphabet-item js-accordion__item">
        <span class="menu-accordion__label alphabet-item__label">
          <span>A</span>
          <svg class="menu-accordion__label-icon alphabet-item__label-icon">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </span>
        <div class="menu-accordion__container alphabet-item__container js-accordion-container">
          <ul class="alphabet-item__list js-accordion-container-wrapper">
            <li><a href="#">AEG</a></li>
            <li><a href="#">Amica</a></li>
            <li><a href="#">Ardo</a></li>
            <li><a href="#">Asko</a></li>
            <li><a href="#">AVEX</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-accordion__item alphabet-item js-accordion__item">
        <span class="menu-accordion__label alphabet-item__label">
          <span>B</span>
          <svg class="menu-accordion__label-icon alphabet-item__label-icon">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </span>
        <div class="menu-accordion__container alphabet-item__container js-accordion-container">
          <ul class="alphabet-item__list js-accordion-container-wrapper">
            <li><a href="#">Bauknecht</a></li>
            <li><a href="#">Baumatic</a></li>
            <li><a href="#">Bomann</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-accordion__item alphabet-item js-accordion__item">
        <span class="menu-accordion__label alphabet-item__label">
          <span>C</span>
          <svg class="menu-accordion__label-icon alphabet-item__label-icon">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </span>
        <div class="menu-accordion__container alphabet-item__container js-accordion-container">
          <ul class="alphabet-item__list js-accordion-container-wrapper">
            <li><a href="#">Candy</a></li>
            <li><a href="#">Caso</a></li>
            <li><a href="#">Climadiff</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-accordion__item alphabet-item js-accordion__item">
        <span class="menu-accordion__label alphabet-item__label">
          <span>C</span>
          <svg class="menu-accordion__label-icon alphabet-item__label-icon">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </span>
        <div class="menu-accordion__container alphabet-item__container js-accordion-container">
          <ul class="alphabet-item__list js-accordion-container-wrapper">
            <li><a href="#">Daewoo</a></li>
            <li><a href="#">Daewoo Electronics</a></li>
            <li><a href="#">Dometic</a></li>
            <li><a href="#">Dometic</a></li>
            <li><a href="#">Dometic</a></li>
            <li><a href="#">Dometic</a></li>
            <li><a href="#">Dometic</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-accordion__item alphabet-item js-accordion__item">
        <span class="menu-accordion__label alphabet-item__label">
          <span>A</span>
          <svg class="menu-accordion__label-icon alphabet-item__label-icon">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </span>
        <div class="menu-accordion__container alphabet-item__container js-accordion-container">
          <ul class="alphabet-item__list js-accordion-container-wrapper">
            <li><a href="#">AEG</a></li>
            <li><a href="#">Amica</a></li>
            <li><a href="#">Ardo</a></li>
            <li><a href="#">Asko</a></li>
            <li><a href="#">AVEX</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-accordion__item alphabet-item js-accordion__item">
        <span class="menu-accordion__label alphabet-item__label">
          <span>B</span>
          <svg class="menu-accordion__label-icon alphabet-item__label-icon">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </span>
        <div class="menu-accordion__container alphabet-item__container js-accordion-container">
          <ul class="alphabet-item__list js-accordion-container-wrapper">
            <li><a href="#">Bauknecht</a></li>
            <li><a href="#">Baumatic</a></li>
            <li><a href="#">Bomann</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-accordion__item alphabet-item js-accordion__item">
        <span class="menu-accordion__label alphabet-item__label">
          <span>C</span>
          <svg class="menu-accordion__label-icon alphabet-item__label-icon">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </span>
        <div class="menu-accordion__container alphabet-item__container js-accordion-container">
          <ul class="alphabet-item__list js-accordion-container-wrapper">
            <li><a href="#">Candy</a></li>
            <li><a href="#">Caso</a></li>
            <li><a href="#">Climadiff</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-accordion__item alphabet-item js-accordion__item">
        <span class="menu-accordion__label alphabet-item__label">
          <span>C</span>
          <svg class="menu-accordion__label-icon alphabet-item__label-icon">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </span>
        <div class="menu-accordion__container alphabet-item__container js-accordion-container">
          <ul class="alphabet-item__list js-accordion-container-wrapper">
            <li><a href="#">Daewoo</a></li>
            <li><a href="#">Daewoo Electronics</a></li>
            <li><a href="#">Dometic</a></li>
            <li><a href="#">Dometic</a></li>
            <li><a href="#">Dometic</a></li>
            <li><a href="#">Dometic</a></li>
            <li><a href="#">Dometic</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-accordion__item alphabet-item js-accordion__item">
        <span class="menu-accordion__label alphabet-item__label">
          <span>A</span>
          <svg class="menu-accordion__label-icon alphabet-item__label-icon">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </span>
        <div class="menu-accordion__container alphabet-item__container js-accordion-container">
          <ul class="alphabet-item__list js-accordion-container-wrapper">
            <li><a href="#">AEG</a></li>
            <li><a href="#">Amica</a></li>
            <li><a href="#">Ardo</a></li>
            <li><a href="#">Asko</a></li>
            <li><a href="#">AVEX</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-accordion__item alphabet-item js-accordion__item">
        <span class="menu-accordion__label alphabet-item__label">
          <span>B</span>
          <svg class="menu-accordion__label-icon alphabet-item__label-icon">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </span>
        <div class="menu-accordion__container alphabet-item__container js-accordion-container">
          <ul class="alphabet-item__list js-accordion-container-wrapper">
            <li><a href="#">Bauknecht</a></li>
            <li><a href="#">Baumatic</a></li>
            <li><a href="#">Bomann</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-accordion__item alphabet-item js-accordion__item">
        <span class="menu-accordion__label alphabet-item__label">
          <span>C</span>
          <svg class="menu-accordion__label-icon alphabet-item__label-icon">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </span>
        <div class="menu-accordion__container alphabet-item__container js-accordion-container">
          <ul class="alphabet-item__list js-accordion-container-wrapper">
            <li><a href="#">Candy</a></li>
            <li><a href="#">Caso</a></li>
            <li><a href="#">Climadiff</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-accordion__item alphabet-item js-accordion__item">
        <span class="menu-accordion__label alphabet-item__label">
          <span>C</span>
          <svg class="menu-accordion__label-icon alphabet-item__label-icon">
            <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
          </svg>
        </span>
        <div class="menu-accordion__container alphabet-item__container js-accordion-container">
          <ul class="alphabet-item__list js-accordion-container-wrapper">
            <li><a href="#">Daewoo</a></li>
            <li><a href="#">Daewoo Electronics</a></li>
            <li><a href="#">Dometic</a></li>
            <li><a href="#">Dometic</a></li>
            <li><a href="#">Dometic</a></li>
            <li><a href="#">Dometic</a></li>
            <li><a href="#">Dometic</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
