<div class="container">
  <div class="masters">
    <div class="masters__row">
      <h2 class="masters__title">Наши мастера</h2>
    </div>
    <div class="masters__list slider slider--masters swiper-container js-swiper-container">
      <ul class="masters-list slider__wrapper swiper-wrapper">
        <li class="masters-list__item slider__item swiper-slide">
          <a href="#" class="master-item">
            <div class="master-item__row">
              <div class="master-item__image">
                <img data-src="./img/picture/test/master-item-1.jpg"  src="./img/picture/test/master-item-1.jpg" alt="">
              </div>
              <div class="master-item__info">
                <div class="master-item__name h3">Дмитрий Абибулаев</div>
                <div class="master-item__row">
                  <div class="master-item__comments comments">
                    <svg class="comments__icon">
                      <use xlink:href="img/icons.svg#icon_comment"></use>
                    </svg>
                    <div class="comments__amount">101</div>
                  </div>
                  <div class="master-item__rating rating">
                    <svg class="rating__icon">
                      <use xlink:href="img/icons.svg#icon_star"></use>
                    </svg>
                    <div class="rating__amount">4</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="master-item__description">
              <div class="master-item__qualification">Чинит стиральные, сушильные и посудомоечные машины</div>
              <div class="master-item__row">
                 <span class="master-item__experience-all">Стаж 12 лет</span>
                 <span class="master-item__experience-current">(8 — в РемБытТех)</span>
              </div>
            </div>
          </a>
        </li>
        <li class="masters-list__item slider__item swiper-slide">
          <a href="#" class="master-item">
            <div class="master-item__row">
              <div class="master-item__image">
                <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="">
              </div>
              <div class="master-item__info">
                <div class="master-item__name h3">Дмитрий Абибулаев</div>
                <div class="master-item__row">
                  <div class="master-item__comments comments">
                    <svg class="comments__icon">
                      <use xlink:href="img/icons.svg#icon_comment"></use>
                    </svg>
                    <div class="comments__amount">101</div>
                  </div>
                  <div class="master-item__rating rating">
                    <svg class="rating__icon">
                      <use xlink:href="img/icons.svg#icon_star"></use>
                    </svg>
                    <div class="rating__amount">4</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="master-item__description">
              <div class="master-item__qualification">Чинит холодильную технику</div>
              <div class="master-item__row">
                <span class="master-item__experience-all">Стаж 8 лет</span>
                <span class="master-item__experience-current">(5 — в РемБытТех)</span>
              </div>
            </div>
          </a>
        </li>
        <li class="masters-list__item slider__item swiper-slide">
          <a href="#" class="master-item">
            <div class="master-item__row">
              <div class="master-item__image">
                <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="">
              </div>
              <div class="master-item__info">
                <div class="master-item__name h3">Виктор Бацалев</div>
                <div class="master-item__row">
                  <div class="master-item__comments comments">
                    <svg class="comments__icon">
                      <use xlink:href="img/icons.svg#icon_comment"></use>
                    </svg>
                    <div class="comments__amount">101</div>
                  </div>
                  <div class="master-item__rating rating">
                    <svg class="rating__icon">
                      <use xlink:href="img/icons.svg#icon_star"></use>
                    </svg>
                    <div class="rating__amount">4</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="master-item__description">
              <div class="master-item__qualification">Чинит холодильную технику</div>
              <div class="master-item__row">
                <span class="master-item__experience-all">Стаж 25 лет</span>
                <span class="master-item__experience-current">(12 — в РемБытТех)</span>
              </div>
            </div>
          </a>
        </li>
        <li class="masters-list__item slider__item swiper-slide">
          <a href="#" class="master-item">
            <div class="master-item__row">
              <div class="master-item__image">
                <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="">
              </div>
              <div class="master-item__info">
                <div class="master-item__name h3">Виктор Бацалев</div>
                <div class="master-item__row">
                  <div class="master-item__comments comments">
                    <svg class="comments__icon">
                      <use xlink:href="img/icons.svg#icon_comment"></use>
                    </svg>
                    <div class="comments__amount">101</div>
                  </div>
                  <div class="master-item__rating rating">
                    <svg class="rating__icon">
                      <use xlink:href="img/icons.svg#icon_star"></use>
                    </svg>
                    <div class="rating__amount">4</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="master-item__description">
              <div class="master-item__qualification">Чинит холодильную технику</div>
              <div class="master-item__row">
                <span class="master-item__experience-all">Стаж 25 лет</span>
                <span class="master-item__experience-current">(12 — в РемБытТех)</span>
              </div>
            </div>
          </a>
        </li>

      </ul>
      <div class="slider__btn slider__btn--prev swiper-button-prev js-btn-prev">
        <svg class="slider__btn-icon">
          <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
        </svg>
      </div>
      <div class="slider__btn slider__btn--next swiper-button-next js-btn-next">
        <svg class="slider__btn-icon">
          <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
        </svg>
      </div>
      <div class="slider__scrollbar swiper-scrollbar js-swiper-scrollbar"></div>
    </div>
    <div class="masters__btn-wrapper">
      <a  href="#" class="btn btn--border masters-btn btn-arrow">
        <span class="btn__text">Смотреть всех</span>
        <svg class="btn-arrow__icon">
          <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
