<div class="container">
  <div class="offer-wrapper offer-wrapper--sale offer-wrapper--washer">
    <div class="offer-wrapper__inner">
      <div class="offer-wrapper__sticker-small sticker-sale sticker-sale--small">
        <div class="sticker-sale__shadow"></div>
        <div class="sticker-sale__value">
          <svg class="sticker-sale__value-icon">
            <use xlink:href="img/icons.svg#icon_percent"></use>
          </svg>
        </div>
      </div>
      <div class="offer-wrapper__sticker sticker-sale">
        <div class="sticker-sale__shadow"></div>
        <div class="sticker-sale__value">
          <svg class="sticker-sale__value-icon">
            <use xlink:href="img/icons.svg#icon_ten-percent"></use>
          </svg>
        </div>
      </div>
      <div class="offer-wrapper__img">
        <div class="offer-wrapper__img-tech">
          <img data-src="./img/picture/washer.png" src="./img/picture/washer.png" alt="" />
        </div>
        <div class="offer-wrapper__img-man">
          <img data-src="./img/picture/master.png" src="./img/picture/master.png" alt="" />
        </div>
      </div>
      <div class="offer-wrapper__right">
        <div class="offer-wrapper__title">Получите скидку 10%</div>
        <div class="offer-wrapper__text">
          <p>При онлайн-заказе на&nbsp;все ремонтные работы скидка &mdash;10%.</p>
          <p>Ответим вам в&nbsp;течение 24&nbsp;часов!</p>
        </div>
        <div class="offer-wrapper__bottom">
          <form class="offer-wrapper__form">
            <div class="input input--call-now">
              <label for="get-sale" class="input__label"></label>
              <div class="input__inner">
                <input type="text" id="get-sale" class="input__field js-phone" placeholder="Номер телефона" />
                <div class="input__prompt">Текст подсказки/ошибки</div>
              </div>
              <div class="offer-wrapper__button-submit">
                <button type="button" class="btn btn--orange"><span class="btn__text">Заказать ремонт</span></button>
              </div>
            </div>
          </form>
        </div>
        <div class="offer-wrapper__bottom-mobile">
          <a href="#call-back-popup" class="btn btn--orange js-popup-btn"><span class="btn__text">Перезвоните мне</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
