<div class="container">
  <div class="question-popular">
    <h2 class="question-popular__title">Популярные вопросы</h2>
    <div class="question-popular__list">
      <ul class="question-popular-list">
        <li class="question-popular-list__item question-item question-item--questions-page">
          <a href="#" class="question-item__text js-hidden-text" data-sm-height="104" data-md-height="78" data-lg-height="128">
            Помогите снять на машинке защиту от детей!!!!! никак не получается !!! машинка эко бабл самсунг 6кг
          </a>
          <div class="question-item__row">
            <div class="question-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="question-item__rating">
              <div class="rating">
                <svg class="rating__icon">
                  <use xlink:href="img/icons.svg#icon_star"></use>
                </svg>
                <div class="rating__amount">4</div>
              </div>
            </div>
          </div>
        </li>
        <li class="question-popular-list__item question-item question-item--questions-page">
          <a href="#" class="question-item__text js-hidden-text" data-sm-height="104" data-md-height="78" data-lg-height="128">
            Samsung стиральная машина ошибка 4E. В чем причина? Что неисправно?
          </a>
          <div class="question-item__row">
            <div class="question-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">10 567</div>
              </div>
            </div>
            <div class="question-item__rating">
              <div class="rating">
                <svg class="rating__icon">
                  <use xlink:href="img/icons.svg#icon_star"></use>
                </svg>
                <div class="rating__amount">4</div>
              </div>
            </div>
          </div>
        </li>
        <li class="question-popular-list__item question-item question-item--questions-page">
          <a href="#" class="question-item__text js-hidden-text" data-sm-height="104" data-md-height="78" data-lg-height="128">
            Здравствуйте..Стиральная машина Самсунг набрала немного совсем воды и на дисплее появилось"ЧЕ"..повторно выкл.и вкл.гудит и не набирает
          </a>
          <div class="question-item__row">
            <div class="question-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="question-item__rating">
              <div class="rating">
                <svg class="rating__icon">
                  <use xlink:href="img/icons.svg#icon_star"></use>
                </svg>
                <div class="rating__amount">4.5</div>
              </div>
            </div>
          </div>
        </li>
        <li class="question-popular-list__item question-popular-list__item--hide question-item question-item--questions-page">
          <a href="#" class="question-item__text js-hidden-text" data-sm-height="104" data-md-height="78" data-lg-height="128">
            На какое деление устанавливать терморегулятор в холодильнике АТЛАНТ?
          </a>
          <div class="question-item__row">
            <div class="question-item__views">
              <div class="views">
                <svg class="views__icon">
                  <use xlink:href="img/icons.svg#icon_eye"></use>
                </svg>
                <div class="views__amount">345</div>
              </div>
            </div>
            <div class="question-item__rating">
              <div class="rating">
                <svg class="rating__icon">
                  <use xlink:href="img/icons.svg#icon_star"></use>
                </svg>
                <div class="rating__amount">4</div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="question-popular__buttons">
      <a href="#" class="btn btn--border">
        <span class="btn__text">Перейти в раздел</span>
        <svg class="blog-popular__btn-icon">
          <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
