<div class="container">
  <div class="container-small">
    <div class="warranty-questions">
      <div class="warranty-questions__title">
        <h2>Возможные вопросы</h2>
      </div>
      <div class="warranty-questions__content">
        <div class="table table--seo ">
          <div class="table__item repair-type-seo__item js-spoiler">
            <div class="table__label  repair-type-seo__label js-spoiler-btn ">
              <h2>Обязательно ли нужна бумажка с гарантией?</h2>
              <svg class="table__icon-arrow">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="table__container  repair-type-seo__container js-spoiler-container ">
              <div class="table__content repair-type-seo__content js-spoiler-content">
                <p>Нет, если вы точно знаете, что ремонтировались именно у нас.</p>
              </div>
            </div>
          </div>
          <div class="table__item repair-type-seo__item js-spoiler">
            <div class="table__label  repair-type-seo__label js-spoiler-btn ">
              <h2>Какие контактные данные нужно писать в заявке??</h2>
              <svg class="table__icon-arrow">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="table__container  repair-type-seo__container js-spoiler-container ">
              <div class="table__content repair-type-seo__content js-spoiler-content">
                <p>Телефон и адрес, которые вы оставляли в заявке на ремонт. Чтобы мы могли найти ваш заказ в базе.</p>
              </div>
            </div>
          </div>
          <div class="table__item repair-type-seo__item js-spoiler">
            <div class="table__label  repair-type-seo__label js-spoiler-btn ">
              <h2>В каких случаях гарантийный ремонт будет платным?</h2>
              <svg class="table__icon-arrow">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="table__container  repair-type-seo__container js-spoiler-container ">
              <div class="table__content repair-type-seo__content js-spoiler-content">
                <p>Если случилась другая неисправность.</p>
            </div>
            </div>
          </div>
          <div class="table__item repair-type-seo__item js-spoiler">
            <div class="table__label  repair-type-seo__label js-spoiler-btn ">
              <h2>можно ли отказаться от гарантийного ремонта, если мастер уже приехал?</h2>
              <svg class="table__icon-arrow">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="table__container  repair-type-seo__container js-spoiler-container ">
              <div class="table__content repair-type-seo__content js-spoiler-content">
                <p>Да. Более тоого, если окажется, что ремонт нецелесообразный (древняя техника, или мастер не разобрался, в чём причина), то мы полностью вернём деньги, кроме оплаты выезда (400 рублей).</p>
            </div>
            </div>
          </div>
          <div class="table__item repair-type-seo__item js-spoiler">
            <div class="table__label  repair-type-seo__label js-spoiler-btn ">
              <h2>На что действует гарантия?</h2>
              <svg class="table__icon-arrow">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="table__container  repair-type-seo__container js-spoiler-container ">
              <div class="table__content repair-type-seo__content js-spoiler-content">
                <p>На проведённый ремонт и заменённые запчасти.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
