<div class="container">
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="" class="breadcrumbs__link">
          <span>Главная</span>
          <svg class="breadcrumbs__link-icon">
            <use xlink:href="img/icons.svg#icon_triangle"></use>
          </svg>
        </a>
      </li>
      <li class="breadcrumbs__item current">
        <a href="" class="breadcrumbs__link">
          <span>Мастера</span>
          <svg class="breadcrumbs__link-icon">
            <use xlink:href="img/icons.svg#icon_triangle"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="masters-page">
    <h1>Мастера компании РемБыттех</h1>
    <p>Все специалисты имеют профильное образование и большой опыт работы</p>
    <div class="masters-page__filters-row">
      <div class="masters-page__search dropdown dropdown--search js-search-parent">
        <label class="dropdown__label" for="2">Где работает</label>
        <select id="2" class="js-search" name="type" data-placeholder="Название населённого пункта">
          <option value selected disabled>Название населённого пункта</option>
          <option value="1">Москва</option>
          <option value="3">Зеленоград</option>
          <option value="4">Бронницы</option>
          <option value="4">Звенигород</option>
          <option value="4">Красногорск</option>
          <option value="4">Электросталь</option>
          <option value="4">Фрязино</option>
          <option value="4">Подольск</option>
          <option value="4">Селятино</option>
          <option value="4">Солнечногорск</option>
          <option value="4">Кубинка</option>
        </select>
      </div>
      <div class="masters-page__dropdown dropdown js-dropdown-parent">
        <label class="dropdown__label" for="1">Какую технику чинит</label>
        <select id="1" class="js-dropdown" name="type" data-placeholder="Выберите">
          <option value selected disabled>Выберите</option>
          <option value="1">Холодильник</option>
          <option value="3">Стиральная машина</option>
          <option value="4">Посудомоечная машина</option>
          <option value="4">Электроплита</option>
          <option value="4">Газовая плита</option>
          <option value="4">Кофемашина</option>
          <option value="4">Телевизор</option>
          <option value="4">Электроплита</option>
          <option value="4">Газовая плита</option>
          <option value="4">Кофемашина</option>
          <option value="4">Телевизор</option>
        </select>
      </div>
    </div>
    <ul class="masters-page__list masters-list masters-list--list">
      <li class="masters-list__item">
        <a href="#" class="master-item">
          <div class="master-item__row">
            <div class="master-item__image">
              <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-item__info">
              <div class="master-item__name h3">Дмитрий Абибулаев</div>
              <div class="master-item__row">
                <div class="master-item__comments comments">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                </div>
                <div class="master-item__rating rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="master-item__description">
            <div class="master-item__qualification">Чинит стиральные, сушильные и посудомоечные машины</div>
            <div class="master-item__row">
              <span class="master-item__experience-all">Стаж 12 лет</span>
              <span class="master-item__experience-current">(8 — в РемБытТех)</span>
            </div>
          </div>
        </a>
      </li>
      <li class="masters-list__item">
        <a href="#" class="master-item">
          <div class="master-item__row">
            <div class="master-item__image">
              <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-item__info">
              <div class="master-item__name h3">Дмитрий Абибулаев</div>
              <div class="master-item__row">
                <div class="master-item__comments comments">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                </div>
                <div class="master-item__rating rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="master-item__description">
            <div class="master-item__qualification">Чинит стиральные, сушильные и посудомоечные машины</div>
            <div class="master-item__row">
              <span class="master-item__experience-all">Стаж 12 лет</span>
              <span class="master-item__experience-current">(8 — в РемБытТех)</span>
            </div>
          </div>
        </a>
      </li>
      <li class="masters-list__item">
        <a href="#" class="master-item">
          <div class="master-item__row">
            <div class="master-item__image">
              <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-item__info">
              <div class="master-item__name h3">Дмитрий Абибулаев</div>
              <div class="master-item__row">
                <div class="master-item__comments comments">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                </div>
                <div class="master-item__rating rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="master-item__description">
            <div class="master-item__qualification">Чинит стиральные, сушильные и посудомоечные машины</div>
            <div class="master-item__row">
              <span class="master-item__experience-all">Стаж 12 лет</span>
              <span class="master-item__experience-current">(8 — в РемБытТех)</span>
            </div>
          </div>
        </a>
      </li>
      <li class="masters-list__item">
        <a href="#" class="master-item">
          <div class="master-item__row">
            <div class="master-item__image">
              <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-item__info">
              <div class="master-item__name h3">Дмитрий Абибулаев</div>
              <div class="master-item__row">
                <div class="master-item__comments comments">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                </div>
                <div class="master-item__rating rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="master-item__description">
            <div class="master-item__qualification">Чинит стиральные, сушильные и посудомоечные машины</div>
            <div class="master-item__row">
              <span class="master-item__experience-all">Стаж 12 лет</span>
              <span class="master-item__experience-current">(8 — в РемБытТех)</span>
            </div>
          </div>
        </a>
      </li>
      <li class="masters-list__item">
        <a href="#" class="master-item">
          <div class="master-item__row">
            <div class="master-item__image">
              <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-item__info">
              <div class="master-item__name h3">Дмитрий Абибулаев</div>
              <div class="master-item__row">
                <div class="master-item__comments comments">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                </div>
                <div class="master-item__rating rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="master-item__description">
            <div class="master-item__qualification">Чинит стиральные, сушильные и посудомоечные машины</div>
            <div class="master-item__row">
              <span class="master-item__experience-all">Стаж 12 лет</span>
              <span class="master-item__experience-current">(8 — в РемБытТех)</span>
            </div>
          </div>
        </a>
      </li>
      <li class="masters-list__item">
        <a href="#" class="master-item">
          <div class="master-item__row">
            <div class="master-item__image">
              <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-item__info">
              <div class="master-item__name h3">Дмитрий Абибулаев</div>
              <div class="master-item__row">
                <div class="master-item__comments comments">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                </div>
                <div class="master-item__rating rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="master-item__description">
            <div class="master-item__qualification">Чинит стиральные, сушильные и посудомоечные машины</div>
            <div class="master-item__row">
              <span class="master-item__experience-all">Стаж 12 лет</span>
              <span class="master-item__experience-current">(8 — в РемБытТех)</span>
            </div>
          </div>
        </a>
      </li>
      <li class="masters-list__item">
        <a href="#" class="master-item">
          <div class="master-item__row">
            <div class="master-item__image">
              <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-item__info">
              <div class="master-item__name h3">Виктор Бацалев</div>
              <div class="master-item__row">
                <div class="master-item__comments comments">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                </div>
                <div class="master-item__rating rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="master-item__description">
            <div class="master-item__qualification">Чинит стиральные машины</div>
            <div class="master-item__row">
              <span class="master-item__experience-all">Стаж 12 лет</span>
              <span class="master-item__experience-current">(8 — в РемБытТех)</span>
            </div>
          </div>
        </a>
      </li>
      <li class="masters-list__item">
        <a href="#" class="master-item">
          <div class="master-item__row">
            <div class="master-item__image">
              <img data-src="./img/picture/test/master-item-1.jpg"  src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-item__info">
              <div class="master-item__name h3">Дмитрий Абибулаев</div>
              <div class="master-item__row">
                <div class="master-item__comments comments">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                </div>
                <div class="master-item__rating rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="master-item__description">
            <div class="master-item__qualification">Чинит стиральные, сушильные и посудомоечные машины</div>
            <div class="master-item__row">
              <span class="master-item__experience-all">Стаж 12 лет</span>
              <span class="master-item__experience-current">(8 — в РемБытТех)</span>
            </div>
          </div>
        </a>
      </li>
      <li class="masters-list__item">
        <a href="#" class="master-item">
          <div class="master-item__row">
            <div class="master-item__image">
              <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-item__info">
              <div class="master-item__name h3">Дмитрий Абибулаев</div>
              <div class="master-item__row">
                <div class="master-item__comments comments">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                </div>
                <div class="master-item__rating rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="master-item__description">
            <div class="master-item__qualification">Чинит стиральные, сушильные и посудомоечные машины</div>
            <div class="master-item__row">
              <span class="master-item__experience-all">Стаж 12 лет</span>
              <span class="master-item__experience-current">(8 — в РемБытТех)</span>
            </div>
          </div>
        </a>
      </li>
      <li class="masters-list__item">
        <a href="#" class="master-item">
          <div class="master-item__row">
            <div class="master-item__image">
              <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-item__info">
              <div class="master-item__name h3">Дмитрий Абибулаев</div>
              <div class="master-item__row">
                <div class="master-item__comments comments">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                </div>
                <div class="master-item__rating rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="master-item__description">
            <div class="master-item__qualification">Чинит стиральные, сушильные и посудомоечные машины</div>
            <div class="master-item__row">
              <span class="master-item__experience-all">Стаж 12 лет</span>
              <span class="master-item__experience-current">(8 — в РемБытТех)</span>
            </div>
          </div>
        </a>
      </li>
      <li class="masters-list__item">
        <a href="#" class="master-item">
          <div class="master-item__row">
            <div class="master-item__image">
              <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-item__info">
              <div class="master-item__name h3">Дмитрий Абибулаев</div>
              <div class="master-item__row">
                <div class="master-item__comments comments">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                </div>
                <div class="master-item__rating rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="master-item__description">
            <div class="master-item__qualification">Чинит стиральные, сушильные и посудомоечные машины</div>
            <div class="master-item__row">
              <span class="master-item__experience-all">Стаж 12 лет</span>
              <span class="master-item__experience-current">(8 — в РемБытТех)</span>
            </div>
          </div>
        </a>
      </li>
      <li class="masters-list__item">
        <a href="#" class="master-item">
          <div class="master-item__row">
            <div class="master-item__image">
              <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-item__info">
              <div class="master-item__name h3">Дмитрий Абибулаев</div>
              <div class="master-item__row">
                <div class="master-item__comments comments">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                </div>
                <div class="master-item__rating rating">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="master-item__description">
            <div class="master-item__qualification">Чинит стиральные, сушильные и посудомоечные машины</div>
            <div class="master-item__row">
              <span class="master-item__experience-all">Стаж 12 лет</span>
              <span class="master-item__experience-current">(8 — в РемБытТех)</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="masters-page__bottom">
      <div class="masters-page__pagination-row">
        <div class="pagination pagination--gray-bg">
          <div class="pagination__row">
            <ul class="pagination__list">
              <li class="pagination__item disabled">
                <a href="">
                  <svg class="pagination__item-icon pagination__item-icon--prev">
                    <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                  </svg>
                </a>
              </li>
              <li class="pagination__item current">
                <a href=""><span>1</span></a>
              </li>
              <li class="pagination__item">
                <a href=""><span>2</span></a>
              </li>
              <li class="pagination__item">
                <a href=""><span>3</span></a>
              </li>
              <li class="pagination__item"><span>...</span></li>
              <li class="pagination__item">
                <a href=""><span>99</span></a>
              </li>
              <li class="pagination__item">
                <a href="">
                  <svg class="pagination__item-icon pagination__item-icon--next">
                    <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="pagination__amount-items">1-12 из <span class="js-format-price">72</span> мастеров</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
