<div class="container">
  <div class="call-master-guarantee">
    <div class="section-accordion">
      <div class="section-accordion__item  call-master-guarantee__item  ">
        <div class="section-accordion__label call-master-guarantee__label  ">
          <h2>Как вызвать мастера по&nbsp;гарантии</h2>
        </div>
        <div class="section-accordion__container  call-master-guarantee__container">
          <ul class="section-accordion__content work-scheme call-master-guarantee-list">
            <li class="work-scheme__step work-scheme-step call-master-guarantee-list__item">
              <div class="work-scheme-step__icon-wrapper">
                <svg class="work-scheme-step__icon">
                  <use xlink:href="img/icons.svg#icon_scheme-step-1"></use>
                </svg>
              </div>
              <div class="work-scheme-step__description">
                <div class="work-scheme-step__title">Вы&nbsp;оставляете заявку с&nbsp;указанными контактными данными</div>
                <span> (или звоните в&nbsp;call-центр)</span>
              </div>
            </li>
            <li class="work-scheme__step work-scheme-step call-master-guarantee-list__item ">
              <div class="work-scheme-step__icon-wrapper">
                <svg class="work-scheme-step__icon">
                  <use xlink:href="img/icons.svg#icon_scheme-step-2"></use>
                </svg>
              </div>
              <div class="work-scheme-step__description">
                <div class="work-scheme-step__title">Менеджер находит вас в&nbsp;базе и&nbsp;перезванивает, чтобы уточнить проблему </div>
              </div>
            </li>
            <li class="work-scheme__step work-scheme-step call-master-guarantee-list__item ">
              <div class="work-scheme-step__icon-wrapper">
                <svg class="work-scheme-step__icon">
                  <use xlink:href="img/icons.svg#icon_scheme-step-4"></use>
                </svg>
              </div>
              <div class="work-scheme-step__description">
                <div class="work-scheme-step__title">
                  Мастер приезжает, чинит поломку и&nbsp;даёт новую писменную гарантию на&nbsp;ремонт от&nbsp;3&nbsp;мес.&nbsp;до&nbsp;2&nbsp;лет
                </div>
              </div>
            </li>
            <li class="call-master-guarantee-list__item-btn">
              <a href="#warranty-case-popup" class=" js-popup-btn btn btn--blue">Оставить заявку</a>
            </li>
          </ul>
        </div>
        <div class="section-accordion__decorate-insert call-master-guarantee__decorate-insert"></div>
      </div>
    </div>
  </div>
</div>
