<div class="container">
  <div class="breaking-wrapper">
    <h2 class="breaking-wrapper__title">Цены на популярные поломки</h2>
    <div class="breaking js-spoiler-breaking">
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/ne-slivaet.png" src="./img/picture/breaking/washers/ne-slivaet.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Не&nbsp;сливает</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <div href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/ne-otjimaet.png" src="./img/picture/breaking/washers/ne-otjimaet.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Не&nbsp;отжимает</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/ne-greet-vodu.png" src="./img/picture/breaking/washers/ne-greet-vodu.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Не&nbsp;греет воду</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span></a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/ne-vkl.png" src="./img/picture/breaking/washers/ne-vkl.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Не&nbsp;включается</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/prigaet.png" src="./img/picture/breaking/washers/prigaet.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Прыгает</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/shumit.png" src="./img/picture/breaking/washers/shumit.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Шумит</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/ne-nabiraet.png" src="./img/picture/breaking/washers/ne-nabiraet.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Не&nbsp;набирает воду</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/ne-otkriv.png" src="./img/picture/breaking/washers/ne-otkriv.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Не&nbsp;открывается</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/migaut.png" src="./img/picture/breaking/washers/migaut.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Мигают индикаторы</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/tokom.png" src="./img/picture/breaking/washers/tokom.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Бьёт током</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/paytna.png" src="./img/picture/breaking/washers/paytna.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Оставляет пятна</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/zavicaet.png" src="./img/picture/breaking/washers/zavicaet.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Зависает</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/mnogo-peni.png" src="./img/picture/breaking/washers/mnogo-peni.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Много пены</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/nabiraet-i-sliv.png" src="./img/picture/breaking/washers/nabiraet-i-sliv.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Набирает и&nbsp;сливает воду</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/ne-krutit-baraban.png" src="./img/picture/breaking/washers/ne-krutit-baraban.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Не&nbsp;крутит</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/ne-poloskaet.png" src="./img/picture/breaking/washers/ne-poloskaet.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Не&nbsp;полоскает</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/ne-smuvaet-poroshok.png" src="./img/picture/breaking/washers/ne-smuvaet-poroshok.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Не&nbsp;смывает порошок</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/ne-nabiraet-oboroti.png" src="./img/picture/breaking/washers/ne-nabiraet-oboroti.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Не&nbsp;набирает обороты</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/ne-zakruvaetsa.png" src="./img/picture/breaking/washers/ne-zakruvaetsa.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Не&nbsp;закрывается</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/oshibka.png" src="./img/picture/breaking/washers/oshibka.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Показывает ошибку</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/skripit.png" src="./img/picture/breaking/washers/skripit.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Скрипит</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
      <div class="breaking__item js-breaking-item breaking-item">
        <a href="#" class="breaking-item__inner">
          <div class="breaking-item__img">
            <img data-src="./img/picture/breaking/washers/techet.png" src="./img/picture/breaking/washers/techet.png" alt="" />
          </div>
          <div class="breaking-item__right">
            <h3 class="breaking-item__title">Течёт</h3>
            <ul class="breaking-item__list breaking-list">
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>замена насоса</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>устранение засора</span>
              </li>
              <li class="breaking-list__item">
                <svg class="breaking-list__icon-check">
                  <use xlink:href="img/icons.svg#icon_check"></use>
                </svg>
                <span>ремонт блока управления</span>
              </li>
            </ul>
          </div>
        </a>
        <div class="breaking-item__bottom">
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange ">
            <span class="btn__text">от&nbsp;<span class="js-format-price">1100</span>&nbsp;руб.</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
