<div class="container">
  <div class="brands">
    <div class="brands__row">
      <h2 class="brands__title">Мы&nbsp;ремонтируем</h2>
    </div>

    <div class="slider slider--brands swiper-container js-swiper-container">
      <!-- Additional required wrapper -->
      <ul class="slider__wrapper swiper-wrapper brands__list brands-item-list">
        <!-- Slides -->
        <li class="brands-item-list__item slider__item swiper-slide">
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/samsung.png" src="./img/picture/brands/samsung.png" alt="" class="brands-item-list__img" />
          </a>
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/atlant.png" src="./img/picture/brands/atlant.png" alt="" class="brands-item-list__img" />
          </a>
        </li>
        <li class="brands-item-list__item slider__item swiper-slide">
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/bosch.png" src="./img/picture/brands/bosch.png" alt="" class="brands-item-list__img" />
          </a>
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/siemens.png" src="./img/picture/brands/siemens.png" alt="" class="brands-item-list__img" />
          </a>
        </li>
        <li class="brands-item-list__item slider__item swiper-slide">
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/philips.png" src="./img/picture/brands/philips.png" alt="" class="brands-item-list__img" />
          </a>
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/zanussi.png" src="./img/picture/brands/zanussi.png" alt="" class="brands-item-list__img" />
          </a>
        </li>
        <li class="brands-item-list__item slider__item swiper-slide">
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/electrolux.png" src="./img/picture/brands/electrolux.png" alt="" class="brands-item-list__img" />
          </a>
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/candy.png" src="./img/picture/brands/candy.png" alt="" class="brands-item-list__img" />
          </a>
        </li>
        <li class="brands-item-list__item slider__item swiper-slide">
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/ariston.png" src="./img/picture/brands/ariston.png" alt="" class="brands-item-list__img" />
          </a>
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/miele.png" src="./img/picture/brands/miele.png" alt="" class="brands-item-list__img" />
          </a>
        </li>
        <li class="brands-item-list__item slider__item swiper-slide">
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/indesit.png" src="./img/picture/brands/indesit.png" alt="" class="brands-item-list__img" />
          </a>
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/whirlpool.png" src="./img/picture/brands/whirlpool.png" alt="" class="brands-item-list__img" />
          </a>
        </li>
        <li class="brands-item-list__item slider__item swiper-slide">
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/lg.png" src="./img/picture/brands/lg.png" alt="" class="brands-item-list__img" />
          </a>
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/aeg.png" src="./img/picture/brands/aeg.png" alt="" class="brands-item-list__img" />
          </a>
        </li>
        <li class="brands-item-list__item slider__item swiper-slide">
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/liebherr.png" src="./img/picture/brands/liebherr.png" alt="" class="brands-item-list__img" />
          </a>
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/toshiba.png" src="./img/picture/brands/toshiba.png" alt="" class="brands-item-list__img" />
          </a>
        </li>
        <li class="brands-item-list__item slider__item swiper-slide">
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/panasonic.png" src="./img/picture/brands/panasonic.png" alt="" class="brands-item-list__img" />
          </a>
          <a href="" class="brands-item-list__img-wrapper">
            <img data-src="./img/picture/brands/beko.png" src="./img/picture/brands/beko.png" alt="" class="brands-item-list__img" />
          </a>
        </li>
      </ul>
      <div class="slider__btn slider__btn--prev swiper-button-prev js-btn-prev">
        <svg class="slider__btn-icon">
          <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
        </svg>
      </div>
      <div class="slider__btn slider__btn--next swiper-button-next js-btn-next">
        <svg class="slider__btn-icon">
          <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
        </svg>
      </div>
      <div class="slider__scrollbar swiper-scrollbar js-swiper-scrollbar"></div>
    </div>
    <div class="brands__btn-wrapper">
      <a href="#" class="btn btn--border masters-btn btn-arrow">
        <span class="btn__text">Смотреть все</span>
        <svg class="btn-arrow__icon">
          <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
