<div class="container">
  <div class="container-small">
    <div class="price-list-top">
      <h2 class="price-list-top__title">Прайс-лист на услуги</h2>
      <div class="price-list-top__text">
        <p>
          Стоимость ремонта стиральной машины зависит от ее модели и вида неисправности. Мастеру необходимо выполнить диагностику, чтобы рассчитать
          точную цену.
        </p>
        <p>Цены в таблице только за ремонтные работы, запчасти и комплектующие оплачиваются дополнительно.</p>
      </div>
    </div>
  </div>
</div>

<div class="container container--offset-lg-up">
  <div class="container-small">
    <div class="price-list">
      <div class="price-list__warning">
        <div class="price-list__title">Выезд мастера и диагностика — бесплатно!</div>
        <div class="price-list__text">В случае отказа от ремонта, услуга стоит 400 руб. Ложный вызов — 1000 руб.</div>
      </div>
      <div class="table">
        <div class="table__item js-spoiler opened">
          <div class="table__label js-spoiler-btn">
            <span>Малый ремонт</span>
            <svg class="table__icon-arrow">
              <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
            </svg>
          </div>
          <div class="table__container js-spoiler-container">
            <div class="price-list-table js-spoiler-content">
              <div class="price-list-table__top">
                <div class="price-list-table__left">
                  <span class="price-list-table__col-price">цена работ</span>
                </div>
                <div class="price-list-table__right">
                  <span class="price-list-table__col-time">время работ</span>
                  <span class="price-list-table__col-security">гарантия</span>
                </div>
              </div>
              <div class="price-list-table__row">
                <div class="price-list-table__col price-list-table__col--left">
                  <div class="price-list-table__label">Замена сетевого фильтра (ФПС, пусковой конденсатор) очень длинное название</div>
                  <div class="price-list-table__price">от 1 300 руб.</div>
                </div>
                <div class="price-list-table__col price-list-table__col--right">
                  <div class="price-list-table__time">30-50 мин.</div>
                  <div class="price-list-table__security">6-12 мес. <span>гарантии</span></div>
                </div>
              </div>
              <div class="price-list-table__row">
                <div class="price-list-table__col price-list-table__col--left">
                  <div class="price-list-table__label">Замена сетевого фильтра (ФПС, пусковой конденсатор) очень длинное название</div>
                  <div class="price-list-table__price">от 1 300 руб.</div>
                </div>
                <div class="price-list-table__col price-list-table__col--right">
                  <div class="price-list-table__time">30-50 мин.</div>
                  <div class="price-list-table__security">6-12 мес. <span>гарантии</span></div>
                </div>
              </div>
              <div class="price-list-table__row">
                <div class="price-list-table__col price-list-table__col--left">
                  <div class="price-list-table__label">Замена люка</div>
                  <div class="price-list-table__price">от 1 500 руб.</div>
                </div>
                <div class="price-list-table__col price-list-table__col--right">
                  <div class="price-list-table__time">20-30 мин.</div>
                  <div class="price-list-table__security">-</div>
                </div>
              </div>
              <div class="price-list-table__row">
                <div class="price-list-table__col price-list-table__col--left">
                  <div class="price-list-table__label">Замена петли дверцы</div>
                  <div class="price-list-table__price">от 1 500 руб.</div>
                </div>
                <div class="price-list-table__col price-list-table__col--right">
                  <div class="price-list-table__time">20-30 мин.</div>
                  <div class="price-list-table__security">6 месяцев.<span>гарантии</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table__item js-spoiler">
          <div class="table__label js-spoiler-btn">
            <span>Средний ремонт</span>
            <svg class="table__icon-arrow">
              <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
            </svg>
          </div>
          <div class="table__container js-spoiler-container">
            <div class="price-list-table js-spoiler-content">
              <div class="price-list-table__top">
                <div class="price-list-table__left">
                  <span class="price-list-table__col-price">цена работ</span>
                </div>
                <div class="price-list-table__right">
                  <span class="price-list-table__col-time">время работ</span>
                  <span class="price-list-table__col-security">гарантия</span>
                </div>
              </div>
              <div class="price-list-table__row">
                <div class="price-list-table__col price-list-table__col--left">
                  <div class="price-list-table__label">Замена сетевого фильтра (ФПС, пусковой конденсатор) очень длинное название</div>
                  <div class="price-list-table__price">от 1 300 руб.</div>
                </div>
                <div class="price-list-table__col price-list-table__col--right">
                  <div class="price-list-table__time">30-50 мин.</div>
                  <div class="price-list-table__security">6-12 мес. <span>гарантии</span></div>
                </div>
              </div>
              <div class="price-list-table__row">
                <div class="price-list-table__col price-list-table__col--left">
                  <div class="price-list-table__label">Замена сетевого фильтра (ФПС, пусковой конденсатор) очень длинное название</div>
                  <div class="price-list-table__price">от 1 300 руб.</div>
                </div>
                <div class="price-list-table__col price-list-table__col--right">
                  <div class="price-list-table__time">30-50 мин.</div>
                  <div class="price-list-table__security">6-12 мес. <span>гарантии</span></div>
                </div>
              </div>
              <div class="price-list-table__row">
                <div class="price-list-table__col price-list-table__col--left">
                  <div class="price-list-table__label">Замена люка</div>
                  <div class="price-list-table__price">от 1 500 руб.</div>
                </div>
                <div class="price-list-table__col price-list-table__col--right">
                  <div class="price-list-table__time">20-30 мин.</div>
                  <div class="price-list-table__security">-</div>
                </div>
              </div>
              <div class="price-list-table__row">
                <div class="price-list-table__col price-list-table__col--left">
                  <div class="price-list-table__label">Замена петли дверцы</div>
                  <div class="price-list-table__price">от 1 500 руб.</div>
                </div>
                <div class="price-list-table__col price-list-table__col--right">
                  <div class="price-list-table__time">20-30 мин.</div>
                  <div class="price-list-table__security">6 месяцев.<span>гарантии</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table__item js-spoiler">
          <div class="table__label js-spoiler-btn">
            <span>Крупный ремонт</span>
            <svg class="table__icon-arrow">
              <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
            </svg>
          </div>
          <div class="table__container js-spoiler-container">
            <div class="price-list-table js-spoiler-content">
              <div class="price-list-table__top">
                <div class="price-list-table__left">
                  <span class="price-list-table__col-price">цена работ</span>
                </div>
                <div class="price-list-table__right">
                  <span class="price-list-table__col-time">время работ</span>
                  <span class="price-list-table__col-security">гарантия</span>
                </div>
              </div>
              <div class="price-list-table__row">
                <div class="price-list-table__col price-list-table__col--left">
                  <div class="price-list-table__label">Замена сетевого фильтра (ФПС, пусковой конденсатор) очень длинное название</div>
                  <div class="price-list-table__price">от 1 300 руб.</div>
                </div>
                <div class="price-list-table__col price-list-table__col--right">
                  <div class="price-list-table__time">30-50 мин.</div>
                  <div class="price-list-table__security">6-12 мес. <span>гарантии</span></div>
                </div>
              </div>
              <div class="price-list-table__row">
                <div class="price-list-table__col price-list-table__col--left">
                  <div class="price-list-table__label">Замена сетевого фильтра (ФПС, пусковой конденсатор) очень длинное название</div>
                  <div class="price-list-table__price">от 1 300 руб.</div>
                </div>
                <div class="price-list-table__col price-list-table__col--right">
                  <div class="price-list-table__time">30-50 мин.</div>
                  <div class="price-list-table__security">6-12 мес. <span>гарантии</span></div>
                </div>
              </div>
              <div class="price-list-table__row">
                <div class="price-list-table__col price-list-table__col--left">
                  <div class="price-list-table__label">Замена люка</div>
                  <div class="price-list-table__price">от 1 500 руб.</div>
                </div>
                <div class="price-list-table__col price-list-table__col--right">
                  <div class="price-list-table__time">20-30 мин.</div>
                  <div class="price-list-table__security">-</div>
                </div>
              </div>
              <div class="price-list-table__row">
                <div class="price-list-table__col price-list-table__col--left">
                  <div class="price-list-table__label">Замена петли дверцы</div>
                  <div class="price-list-table__price">от 1 500 руб.</div>
                </div>
                <div class="price-list-table__col price-list-table__col--right">
                  <div class="price-list-table__time">20-30 мин.</div>
                  <div class="price-list-table__security">6 месяцев.<span>гарантии</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
