<div id="call-back-popup" class="pop-up js-pop-up">
  <div class="pop-up__wrapper">
    <button type="button" class="pop-up__btn-close js-pop-up-close mfp-close">
      <svg class="pop-up__icon-close">
        <use xlink:href="./img/icons.svg#icon_close"></use>
      </svg>
    </button>
    <div class="pop-up__container">
      <div class="pop-up__top">
        <div class="pop-up__title h1">Перезвоните мне</div>
        <p class="pop-up__text">Отправляя заявку онлайн, вы&nbsp;получаете скидку&nbsp;10% на&nbsp;ремонт</p>
      </div>
      <div class="form form--query-repairs">
        <form>
          <div class="form__item">
            <label class="form__label required">
              <span>Ваше имя</span>
              <input type="text" class="form__input" required />
              <span class="form__prompt">Тект ошибки</span>
            </label>
          </div>
          <div class="form__item">
            <label class="form__label required">
              <span>Ваш телефон</span>
              <input type="text" class="form__input js-phone" required />
              <span class="form__prompt">Тект ошибки</span>
            </label>
            <div class="form__note">Чтобы мы&nbsp;могли с&nbsp;вами связаться</div>
          </div>
          <div class="form__buttons">
            <a href="#callback-popup-msg" class="js-popup-btn btn btn--blue form__button">Отправить</a>
            <div class="form__note">
              Нажимая на&nbsp;кнопку, я&nbsp;даю <a href="" class="link link--blue">согласие на&nbsp;обработку своих персональных данных</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
