<div class="container">
  <div class="container-small">
    <div class="how-call-master page-content">
      <h2 class="how-call-master__title">Как вызвать мастера на дом</h2>
      <p>Сформировать обращение на ремонт можно с 8 утра до 22 вечера по телефонам:</p>
      <div class="link-wrapper">
        <a href="tel:74952151441" class="link"><span>+7 (495) 215–14–41</span></a>
        <a href="tel:79037221703" class="link"><span>+7 (903) 722–17–03</span></a>
      </div>
      <p>Либо в любое время суток с помощью <a href="#query-repairs-popup" class="js-popup-btn">специальной формы на сайте.</a></p>
      <b>В обращении сообщите, пожалуйста:</b>
      <ul>
        <li>Марку-модель вашей машинки;</li>
        <li>
          Характер неисправности. Например, стиральная машина не закрывается, не включается или не забирает стиральный порошок из кюветы для моющих
          средств;
        </li>
        <li>Удобное вам время ремонта;</li>
        <li>Ваши имя, адрес, телефон.</li>
      </ul>
      <p>В назначенный вами день ремонта мастер позвонит для уточнения времени приезда.</p>
      <p>
        При поломке стиральной машины Candy Aquamatic 600 обратитесь в «РемБытТех»! Наш мастер приедет к вам уже в течение суток после обращения и
        прямо у вас дома отремонтирует стиральную машинку качественно и с гарантией до 2 лет.
      </p>
    </div>
  </div>
</div>
