<div class="container">
  <div class="top-page">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Главная</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Блог</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item current">
          <a href="" class="breadcrumbs__link">
            <span>ТОП 10&nbsp;неисправностей стиральных машин</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="article-detail article-detail--ol-list js-zoom-gallery-content">
    <div class="page-content">
      <h1>ТОП 10&nbsp;неисправностей стиральных машин LG</h1>
      <p>
        Стиральные машины LG&nbsp;&mdash; надежная корейская техника, которая редко выходит из&nbsp;строя. Тем не&nbsp;менее только за&nbsp;текущий
        год мастера &laquo;РемБытТех&raquo; отремонтировали более 2000 стиральных машинок этой марки. По&nbsp;нашей статистике чаще всего в&nbsp;СМА
        LG&nbsp;выходят из&nbsp;строя следующие узлы (поломки приведены в&nbsp;порядке убывания случаев обращений).
      </p>
      <h2>
        Поломка ТЭНа&nbsp;&mdash; <span>от&nbsp;<span class="js-format-price">1800</span>&nbsp;руб.*</span>
      </h2>
      <p>
        Как правило, в&nbsp;нагревательных элементах перегорает спираль или прогорает корпус. В&nbsp;последнем случае вода попадает на&nbsp;спираль,
        и&nbsp;происходит короткое замыкание. Почти всегда поломка ТЭНа связана с&nbsp;накипью: примеси из&nbsp;водопроводной воды, частицы
        нерастворившегося порошка, ворсинки и сор с&nbsp;одежды&nbsp;&mdash; все это налипает на&nbsp;корпус ТЭНа и&nbsp;снижает его теплопроводность.
        Стараясь нагреть воду до&nbsp;нужного значения, &laquo;обросший&raquo; нагреватель работает слишком интенсивно. Из-за этого и&nbsp;перегорает
        спираль или прогорает корпус.
      </p>
      <h3>Признаки</h3>
      <p>Стиральная машина не&nbsp;греет воду или выбивает пробки. Поломка может сопровождаться ошибкой tE&nbsp;на&nbsp;дисплее.</p>
      <h3>Как устранить</h3>
      <p>Неисправный ТЭН подлежит замене.</p>
      <span class="note">* Цена только за&nbsp;работу мастера, новый ТЭН оплачивается отдельно.</span>
      <div class="page-content__images">
        <a href="./img/picture/test/article-test-1.jpg" class="js-zoom-image">
          <img data-src="./img/picture/test/article-test-1.jpg" src="./img/picture/test/article-test-1.jpg" alt="" />
        </a>
        <a href="./img/picture/test/article-test-1.jpg" class="js-zoom-image">
          <img data-src="./img/picture/test/article-test-1.jpg" src="./img/picture/test/article-test-1.jpg" alt="" />
        </a>
      </div>
      <h2>
        Неисправность насоса&nbsp;&mdash; <span>от&nbsp;<span class="js-format-price">2100</span>&nbsp;руб.*</span>
      </h2>
      <p>
        Сливной насос со&nbsp;временем забивается мусором (ворсинки, забытые в&nbsp;карманах мелкие вещи, фурнитура от&nbsp;одежды, монеты). Из-за
        этого его &laquo;клинит&raquo;, и/или выходит из&nbsp;строя двигатель помпы или ломаются лопасти крыльчатки.
      </p>
      <h3>Признаки</h3>
      <p>
        Сливной насос со&nbsp;временем забивается мусором (ворсинки, забытые в&nbsp;карманах мелкие вещи, фурнитура от&nbsp;одежды, монеты). Из-за
        этого его &laquo;клинит&raquo;, и/или выходит из&nbsp;строя двигатель помпы или ломаются лопасти крыльчатки.
      </p>
      <h3>Как устранить</h3>
      <p>
        Мастер проводит диагностику и&nbsp;в&nbsp;случае, если насос лишь забился&nbsp;&mdash; прочищает его. При поломке мотора помпы или
        лопастей&nbsp;&mdash; деталь меняется на новую.
      </p>
      <span class="note">* Цена только за&nbsp;работу мастера, новый насос оплачивается отдельно. </span>

      <a href="./img/picture/test/article-test-1.jpg" class="js-zoom-image">
        <img data-src="./img/picture/test/article-test-1.jpg" src="./img/picture/test/article-test-1.jpg" alt="" />
      </a>

      <h2>
        Неисправность модуля управления (электронного контролера)&nbsp;&mdash;
        <span>от&nbsp;<span class="js-format-price">2600</span>&nbsp;руб.*</span>
      </h2>
      <p>
        Сливной насос со&nbsp;временем забивается мусором (ворсинки, забытые в&nbsp;карманах мелкие вещи, фурнитура от&nbsp;одежды, монеты). Из-за
        этого его &laquo;клинит&raquo;, и/или выходит из&nbsp;строя двигатель помпы или ломаются лопасти крыльчатки.
      </p>
      <h3>Признаки</h3>
      <p>При поломке платы управления в&nbsp;машине&nbsp;LG может:</p>
      <ul>
        <li>не&nbsp;вращаться барабан;</li>
        <li>сбиваться программы стирки;</li>
        <li>не&nbsp;заливаться или не&nbsp;сливаться вода;</li>
        <li>машинка может вовсе не&nbsp;включаться и&nbsp;др.</li>
      </ul>
      <p>При этом на&nbsp;экране пользователь может наблюдать практически любые коды ошибок.</p>
      <h3>Как устранить</h3>
      <p>Необходимо провести диагностику управляющей платы. Исходя из&nbsp;результатов, мастер:</p>
      <ul>
        <li>пропаивает прогоревшие или сгнившие дорожки;</li>
        <li>меняет перегоревшие элементы (реле, резисторы, конденсаторы, симисторы и&nbsp;т.д.);</li>
        <li>при сбое прошивки&nbsp;&mdash; достает память, перепрограммирует ее&nbsp;и&nbsp;впаивает на&nbsp;место;</li>
        <li>меняет плату полностью в&nbsp;случае серьёзных повреждений (например, при выходе из&nbsp;стря процессора).</li>
      </ul>
      <span class="note">* Цена только за&nbsp;работу мастера, новый насос оплачивается отдельно. </span>
      <a href="./img/picture/test/article-test-1.jpg" class="js-zoom-image">
        <img data-src="./img/picture/test/article-test-1.jpg" alt="" src="./img/picture/test/article-test-1.jpg" />
      </a>

      <h2>
        Поломка ТЭНа&nbsp;&mdash; <span>от&nbsp;<span class="js-format-price">1800</span>&nbsp;руб.*</span>
      </h2>
      <p>
        Как правило, в&nbsp;нагревательных элементах перегорает спираль или прогорает корпус. В&nbsp;последнем случае вода попадает на&nbsp;спираль,
        и&nbsp;происходит короткое замыкание. Почти всегда поломка ТЭНа связана с&nbsp;накипью: примеси из&nbsp;водопроводной воды, частицы
        нерастворившегося порошка, ворсинки и сор с&nbsp;одежды&nbsp;&mdash; все это налипает на&nbsp;корпус ТЭНа и&nbsp;снижает его теплопроводность.
        Стараясь нагреть воду до&nbsp;нужного значения, &laquo;обросший&raquo; нагреватель работает слишком интенсивно. Из-за этого и&nbsp;перегорает
        спираль или прогорает корпус.
      </p>
      <h3>Признаки</h3>
      <p>Стиральная машина не&nbsp;греет воду или выбивает пробки. Поломка может сопровождаться ошибкой tE&nbsp;на&nbsp;дисплее.</p>
      <h3>Как устранить</h3>
      <p>Неисправный ТЭН подлежит замене.</p>
      <span class="note">* Цена только за&nbsp;работу мастера, новый ТЭН оплачивается отдельно.</span>
      <div class="page-content__images">
        <a href="./img/picture/test/article-test-1.jpg" class="js-zoom-image">
          <img data-src="./img/picture/test/article-test-1.jpg" src="./img/picture/test/article-test-1.jpg" alt="" />
        </a>
        <a href="./img/picture/test/article-test-2.jpg" class="js-zoom-image">
          <img data-src="./img/picture/test/article-test-2.jpg" src="./img/picture/test/article-test-2.jpg" alt="" />
        </a>
      </div>
    </div>
    <div class="offer-wrapper offer-wrapper--calculate">
      <div class="offer-wrapper__img">
        <img data-src="./img/picture/calculator.png" alt="" src="./img/picture/calculator.png" />
      </div>
      <div class="offer-wrapper__right">
        <div class="offer-wrapper__title">Узнайте, сколько стоит ремонт вашей стиральной машины</div>
        <div class="offer-wrapper__text">Воспользуйтесь онлайн-калькулятором, чтобы узнать тип поломки и&nbsp;цену ремонта.</div>
        <div class="offer-wrapper__button-wrapper">
          <button type="button" class="btn btn--orange"><span class="btn__text">Рассчитать ремонт</span></button>
        </div>
      </div>
    </div>
    <div class="page-content">
      <h2>
        Поломка ТЭНа&nbsp;&mdash; <span>от&nbsp;<span class="js-format-price">1800</span>&nbsp;руб.*</span>
      </h2>
      <p>
        Как правило, в&nbsp;нагревательных элементах перегорает спираль или прогорает корпус. В&nbsp;последнем случае вода попадает на&nbsp;спираль,
        и&nbsp;происходит короткое замыкание. Почти всегда поломка ТЭНа связана с&nbsp;накипью: примеси из&nbsp;водопроводной воды, частицы
        нерастворившегося порошка, ворсинки и сор с&nbsp;одежды&nbsp;&mdash; все это налипает на&nbsp;корпус ТЭНа и&nbsp;снижает его теплопроводность.
        Стараясь нагреть воду до&nbsp;нужного значения, &laquo;обросший&raquo; нагреватель работает слишком интенсивно. Из-за этого и&nbsp;перегорает
        спираль или прогорает корпус.
      </p>
      <h3>Признаки</h3>
      <p>Стиральная машина не&nbsp;греет воду или выбивает пробки. Поломка может сопровождаться ошибкой tE&nbsp;на&nbsp;дисплее.</p>
      <h3>Как устранить</h3>
      <p>Неисправный ТЭН подлежит замене.</p>
      <span class="note">* Цена только за&nbsp;работу мастера, новый ТЭН оплачивается отдельно.</span>
      <div class="page-content__images">
        <a href="./img/picture/test/article-test-1.jpg" class="js-zoom-image">
          <img data-src="./img/picture/test/article-test-1.jpg" alt="" src="./img/picture/test/article-test-1.jpg" />
        </a>
        <a href="./img/picture/test/article-test-2.jpg" class="js-zoom-image">
          <img data-src="./img/picture/test/article-test-2.jpg" alt="" src="./img/picture/test/article-test-2.jpg" />
        </a>
      </div>
      <h2>Коды неисправностей стиральных машин LG</h2>
      <p>
        Стиральные машины&nbsp;LG с&nbsp;дисплеем при поломке могут показывать код ошибки на&nbsp;экране. Для расшифровки ошибки воспользуйтесь
        разделом
        <a href="#">&laquo;Коды поломок стиральных машин LG&raquo;</a>. Это поможет сузить круг возможных неисправностей и&nbsp;спрогнозировать цену
        ремонта.
      </p>
      <p>
        Ремонт современной сложной техники лучше доверять профессионалам! &laquo;Саморемонт&raquo; может привести к&nbsp;возникновению еще более
        серьезных и&nbsp;дорогих в устранении поломок.
      </p>
      <b>Не&nbsp;рискуйте вашей стиральной машиной&nbsp;LG, звоните:</b>
      <div class="link-wrapper">
        <a href="tel:74952151441" class="link"><span>+7 (495) 215&mdash;14&mdash;41</span></a>
        <a href="tel:79037221703" class="link"><span>+7 (903) 722&mdash;17&mdash;03</span></a>
      </div>
      <b>Или отправляйте <a href="#query-repairs-popup" class="js-popup-btn">онлайн-заявку.</a></b>
      <p>
        Опытные мастера &laquo;РемБытТех&raquo; приедут на&nbsp;вызов в&nbsp;минимальные сроки&nbsp;&mdash; в&nbsp;течение 24&nbsp;часов
        с&nbsp;момента обращения. Ремонт проводится на&nbsp;дому у клиента. После него выдаётся чек с&nbsp;перечнем работ, заменённых деталей
        и&nbsp;гарантийными обязательствами от&nbsp;3&nbsp;месяцев до&nbsp;2&nbsp;лет.
      </p>
      <p>Обращайтесь в&nbsp;&laquo;РемБытТех&raquo;, и&nbsp;ваша&nbsp;LG прослужит еще долгие годы!</p>
    </div>
    <div class="article-detail__bottom">
      <div class="article-detail__tags">
        <div class="tags">
          <div class="tags__tags">Тэги:</div>
          <a href="" class="tags__item">Стиральные машины</a>
          <a href="" class="tags__item">Candy</a>
          <a href="" class="tags__item">Еще тег</a>
        </div>
      </div>
      <div class="article-detail__rating">
        <div class="rating-form-wrapper">
          <div class="rating-form-wrapper__row">
            <div class="rating-form-wrapper__text">Оцени:</div>
            <div class="rating-form js-rating-form">
              <input type="radio" id="star-5" name="rating" value="1" class="js-rating-input" />
              <label for="star-5" title="Оценка «5»" class="rating-form__label js-rating-label">
                <svg class="rating-form__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </label>
              <input type="radio" id="star-4" name="rating" value="2" class="js-rating-input" />
              <label for="star-4" title="Оценка «4»" class="rating-form__label js-rating-label">
                <svg class="rating-form__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </label>
              <input type="radio" id="star-3" name="rating" value="3" class="js-rating-input" />
              <label for="star-3" title="Оценка «3»" class="rating-form__label js-rating-label">
                <svg class="rating-form__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </label>
              <input type="radio" id="star-2" name="rating" value="4" class="js-rating-input" />
              <label for="star-2" title="Оценка «2»" class="rating-form__label js-rating-label">
                <svg class="rating-form__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </label>
              <input type="radio" id="star-1" name="rating" value="5" class="js-rating-input" />
              <label for="star-1" title="Оценка «1»" class="rating-form__label js-rating-label">
                <svg class="rating-form__icon">
                  <use xlink:href="img/icons.svg#icon_fill-star"></use>
                </svg>
              </label>
              <div class="rating-form__tooltip js-rating-tooltip">Спасибо за вашу оценку!</div>
            </div>
          </div>
          <div class="rating-form-wrapper__note">(в среднем 4.5 на основе 11 голосов)</div>
        </div>
      </div>
    </div>
  </div>
</div>
