<div class="container">
  <div class="container-small">
    <div class="contact-district">
      <div class="warranty-contact">
        <h2 class="warranty-contact__title">Контактная информация</h2>
        <p class="warranty-contact__text">Прямой адрес электронной почты Александра Кирилловича&nbsp;&mdash; <a href="mailto:sinitcyn@rembitteh.ru" class="contact__link contact__link--email">sinitcyn@rembitteh.ru</a> Он&nbsp;обязательно рассмотрит любые Ваши замечания и&nbsp;предложения касательно работы сервиса в&nbsp;Северо-Западном Административном Округе (СЗАО) Москвы.</p>
        <div class="contact contact--margin">
          <div class="contact__label">
            По&nbsp;любым вопросам:
          </div>
          <div class="contact__container">
            <ul class="contact__list">
              <li class="contact__item">
                <a href="tel:+74952151441" class="contact__link">+7 (495) 215&mdash;14&mdash;41</a>
              </li>
              <li class="contact__item">
                <a href="tel:+79037221703" class="contact__link">+7 (903) 722&mdash;17&mdash;03</a>
              </li>
              <li class="contact__item">
                <a href="mailto:info@rembitteh.ru" class="contact__link contact__link--email">info@rembitteh.ru</a>
              </li>
            </ul>
          </div>
          <p class="warranty-contact__text">Вы&nbsp;также можете связаться с&nbsp;общим отделом контроля качества &laquo;РемБытТех&raquo;, который действует по&nbsp;всем филиалам.</p>
        </div>
      </div>
    </div>
  </div>
</div>
