<div class="container">
  <div class="container-small">
    <div class="master-info">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a href="" class="breadcrumbs__link">
              <span>Главная</span>
              <svg class="breadcrumbs__link-icon">
                <use xlink:href="img/icons.svg#icon_triangle"></use>
              </svg>
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a href="" class="breadcrumbs__link">
              <span>Мастера</span>
              <svg class="breadcrumbs__link-icon">
                <use xlink:href="img/icons.svg#icon_triangle"></use>
              </svg>
            </a>
          </li>
          <li class="breadcrumbs__item current">
            <a href="" class="breadcrumbs__link">
              <span>Дмитрий Абибулаев</span>
              <svg class="breadcrumbs__link-icon">
                <use xlink:href="img/icons.svg#icon_triangle"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="master-info__info">
        <div class="master-detail-info">
          <div class="master-detail-info__top">
            <div class="master-detail-info__image">
              <img data-src="./img/picture/test/master-item-1.jpg" src="./img/picture/test/master-item-1.jpg" alt="" />
            </div>
            <div class="master-detail-info__row">
              <div class="master-detail-info__inner">
                <h2 class="master-detail-info__name">Дмитрий Абибулаев</h2>
                <div class="master-detail-info__comments comments comments--big">
                  <svg class="comments__icon">
                    <use xlink:href="img/icons.svg#icon_comment"></use>
                  </svg>
                  <div class="comments__amount">101</div>
                  <div class="comments__text">отзыв</div>
                </div>
                <div class="master-detail-info__rating rating rating--big">
                  <svg class="rating__icon">
                    <use xlink:href="img/icons.svg#icon_star"></use>
                  </svg>
                  <div class="rating__amount">4</div>
                </div>
              </div>

              <div class="master-detail-info__button">
                <a href="#question-popup" class=" js-popup-btn btn btn--blue">Задать новый вопрос</a>
              </div>
              <div class="master-detail-info__bottom">
                <div class="master-detail-info__text-info">
                  <h3>Мастер по ремонту</h3>
                  <p>Холодильники, стиральные, сушильные и посудомоечные машины</p>
                </div>
                <div class="master-detail-info__text-info">
                  <h3>Выезд к клиенту</h3>
                  <ul>
                    <li>ЮЗАО (Москва);</li>
                    <li>ЦАО (Москва);</li>
                    <li>Голицино;</li>
                    <li>Одинцово;</li>
                  </ul>
                </div>
                <div class="master-detail-info__text-info">
                  <h3>Образование</h3>
                  <p>
                    Кубанский государственный технологический университет, специальность «электрооборудование и электрохозяйство предприятий,
                    организаций и учреждений», квалификация – инженер <span>(2007–2012 гг.)</span>
                  </p>
                </div>
                <div class="master-detail-info__text-info">
                  <h3>Стаж работы</h3>
                  <p>
                    с 2008 г. — 12 лет,<br />
                    из них в РемБытТех — 8 лет
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
