<div class="container">
  <div class="blog-popular">
    <h2 class="blog-popular__title">Популярное в&nbsp;блоге</h2>
    <div class="blog-popular__row">
      <div class="blog-popular__list">
        <ul class="blog-popular-list">
          <li class="blog-popular-list__item">
            <div class="blog-item blog-item--popular">
              <a href="" class="blog-item__link">
                <div class="blog-item__image">
                  <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" src="./img/picture/test/blog-popular-1.jpeg" />
                </div>
                <div class="blog-item__right">
                  <h4 class="blog-item__title">Что делать, если стиральная машина не&nbsp;греет воду?</h4>
                </div>
              </a>
              <div class="blog-item__row">
                <div class="blog-item__views">
                  <div class="views">
                    <svg class="views__icon">
                      <use xlink:href="img/icons.svg#icon_eye"></use>
                    </svg>
                    <div class="views__amount">345</div>
                  </div>
                </div>
                <div class="blog-item__comments">
                  <a href="#" class="comments">
                    <svg class="comments__icon">
                      <use xlink:href="img/icons.svg#icon_comment"></use>
                    </svg>
                    <div class="comments__amount">101</div>
                  </a>
                </div>
                <div class="blog-item__date">
                  <div class="date">17&nbsp;апр 2020</div>
                </div>
              </div>
            </div>
          </li>
          <li class="blog-popular-list__item">
            <div class="blog-item blog-item--popular">
              <a href="" class="blog-item__link">
                <div class="blog-item__image">
                  <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="1000" height="600" src="./img/picture/test/blog-popular-1.jpeg" />
                </div>
                <div class="blog-item__right">
                  <h4 class="blog-item__title">Cтиральная машина не&nbsp;открывается. Что делать?</h4>
                </div>
              </a>
              <div class="blog-item__row">
                <div class="blog-item__views">
                  <div class="views">
                    <svg class="views__icon">
                      <use xlink:href="img/icons.svg#icon_eye"></use>
                    </svg>
                    <div class="views__amount">345</div>
                  </div>
                </div>
                <div class="blog-item__comments">
                  <a href="#" class="comments">
                    <svg class="comments__icon">
                      <use xlink:href="img/icons.svg#icon_comment"></use>
                    </svg>
                    <div class="comments__amount">101</div>
                  </a>
                </div>
                <div class="blog-item__date">
                  <div class="date">17&nbsp;апр 2020</div>
                </div>
              </div>
            </div>
          </li>
          <li class="blog-popular-list__item">
            <div class="blog-item blog-item--popular">
              <a href="" class="blog-item__link">
                <div class="blog-item__image">
                  <img data-src="./img/picture/test/blog-popular-1.jpeg" alt="" width="251" height="201" src="./img/picture/test/blog-popular-1.jpeg" />
                </div>
                <div class="blog-item__right">
                  <h4 class="blog-item__title">Cтиральная машина НЕ&nbsp;НАБИРАЕТ воду. Что делать?</h4>
                </div>
              </a>
              <div class="blog-item__row">
                <div class="blog-item__views">
                  <div class="views">
                    <svg class="views__icon">
                      <use xlink:href="img/icons.svg#icon_eye"></use>
                    </svg>
                    <div class="views__amount">345</div>
                  </div>
                </div>
                <div class="blog-item__comments">
                  <a href="#" class="comments">
                    <svg class="comments__icon">
                      <use xlink:href="img/icons.svg#icon_comment"></use>
                    </svg>
                    <div class="comments__amount">101</div>
                  </a>
                </div>
                <div class="blog-item__date">
                  <div class="date">17&nbsp;апр 2020</div>
                </div>
              </div>
            </div>
          </li>
          <li class="blog-popular-list__item">
            <div class="blog-item blog-item--popular">
              <a href="" class="blog-item__link">
                <div class="blog-item__image">
                  <img data-src="./img/picture/test/blog-popular-1.jpeg" src="./img/picture/test/blog-popular-1.jpeg" alt="" width="1000" height="600" />
                </div>
                <div class="blog-item__right">
                  <h4 class="blog-item__title">Cтиральная машина НЕ&nbsp;НАБИРАЕТ воду. Что делать? Советы мастера</h4>
                </div>
              </a>
              <div class="blog-item__row">
                <div class="blog-item__views">
                  <div class="views">
                    <svg class="views__icon">
                      <use xlink:href="img/icons.svg#icon_eye"></use>
                    </svg>
                    <div class="views__amount">345</div>
                  </div>
                </div>
                <div class="blog-item__comments">
                  <a href="#" class="comments">
                    <svg class="comments__icon">
                      <use xlink:href="img/icons.svg#icon_comment"></use>
                    </svg>
                    <div class="comments__amount">101</div>
                  </a>
                </div>
                <div class="blog-item__date">
                  <div class="date">17&nbsp;апр 2020</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="blog-popular__btn-wrapper">
          <a href="" class="btn btn--border blog-popular__btn">
            <span class="btn__text">Перейти в&nbsp;блог</span>
            <svg class="blog-popular__btn-icon">
              <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="blog-popular__question-call question-call">
        <div class="question-call__image"></div>
        <div class="question-call__content">
          <h3 class="question-call__title">У&nbsp;вас есть вопрос?</h3>
          <div class="question-call__text">Оставьте свой номер телефона, мы&nbsp;перезвоним и&nbsp;ответим на&nbsp;все вопросы</div>
          <form class="question-call__form">
            <div class="input input--banner">
              <label for="question-call" class="input__label">Ваш номер</label>
              <div class="input__inner">
                <input type="text" id="question-call" class="input__field js-phone" placeholder="+7" />
                <div class="input__prompt">Текст подсказки/ошибки</div>
              </div>
            </div>
            <div class="question-call__form-btn">
              <button type="button" class="btn btn--orange"><span class="btn__text">Перезвоните мне</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
