<div class="container">
  <div class="container-small">
    <div class="feedback-detail-reviews">
      <div class="top-page">
        <div class="breadcrumbs breadcrumbs--back">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a href="" class="breadcrumbs__link">
                <svg class="breadcrumbs__link-icon">
                  <use xlink:href="img/icons.svg#icon_triangle"></use>
                </svg>
                <span>Вернуться назад</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="master-reviews__reviews feedback-detail-reviews__review">
        <div class="master-reviews__item review-item">
          <div class="review-item__rating">
            <svg class="review-item__icon">
              <use xlink:href="img/icons.svg#icon_fill-star"></use>
            </svg>
            <svg class="review-item__icon">
              <use xlink:href="img/icons.svg#icon_fill-star"></use>
            </svg>
            <svg class="review-item__icon">
              <use xlink:href="img/icons.svg#icon_fill-star"></use>
            </svg>
            <svg class="review-item__icon review-item__icon--opacity">
              <use xlink:href="img/icons.svg#icon_fill-star"></use>
            </svg>
            <svg class="review-item__icon review-item__icon--opacity">
              <use xlink:href="img/icons.svg#icon_fill-star"></use>
            </svg>
          </div>
          <div class="h2 feedback-detail-reviews__title review-item__title">Ремонт стиральной машины</div>
          <p class="review-item__text">
            Вчера нам мастер Григорий заменил ТЭН на стиральной машинке за 5800 рублей!!! Узнали, что оказывается это очень дорого, и что можно было
            вдвое дешевле сделать. Ещё мастер не сделал скидку 10% - заказ был оформлен через сайт, была обещана скидка. Я два раза упоминала про
            скидку. На что мастер сказал: "Ну как я Вам сейчас эту скидку посчитаю..". Очень профессионально. В самом начале, когда мастер приехал, он
            сначала не хотел оставаться, чтобы проверить удалось ли исправить поломку. Препирался с моим отцом и говорил: "А как же мое личное время".
            А ничего, что это его обязанность, приехать, удостовериться в поломке, починить, удостовериться в том, что исправил. Так все нормальные
            мастера делают. В итоге он остался на 30 минутную стирку. Всё работало как надо. Также во время ремонта он говорил, что замена ТЭНа - это
            может не на 100% исправит нашу поломку, возможно дело в другом. Хорошо, что хоть гарантию дал на 3 месяца и квитанцию оформил (ещё спросил
            нужна ли нам квитанция). Из плюсов могу выделить только эти: дал несколько дельных советов, починил ТЭН, приехал не ранее того времени,
            которое указывала.
          </p>
          <div class="review-item__row">
            <div class="review-item__author">Юрий, Пушкино</div>
            <div class="review-item__date">сегодня</div>
          </div>
          <div class="review-item__row">
            <span class="review-item__position">Мастер:</span>
            <a class="link link--blue" href=""> Денисенко Михаил</a>
          </div>
        </div>
      </div>
      <div class="feedback-detail-reviews__answer">
        <ul class="comments-list">
          <li class="comments-list__item">
            <div class="comment comment--master">
              <div class="comment__top">
                <div class="comment__avatar">
                  <img data-src="./img/picture/service-quality.svg" src="./img/picture/service-quality.svg" alt="" />
                </div>
                <span class="comment__name">Ответ службы качества</span>
              </div>
              <div class="comment__text">Любовь, благодарим за отзыв. Мы свяжемся с вами в ближайшее время</div>
              <div class="comment__actions">
                <a href="#pop-up-answer" class="js-popup-btn comment__answer">Ответить</a>
                <button class="btn btn--like like js-like-comment">
                  <svg class="like__icon">
                    <use xlink:href="img/icons.svg#icon_like"></use>
                  </svg>
                  <span class="like__amount js-like-amount" data-amount="4">4</span>
                </button>
              </div>
            </div>
            <ul class="comments-list">
              <li class="comments-list__item">
                <div class="comment">
                  <div class="comment__top">
                    <span class="comment__name">Любовь </span>
                    <span class="comment__date">13 мар 2020</span>
                  </div>
                  <div class="comment__text">Хочу добавить, что служба качества со мной связалась, вернула 10% обратно. И я всем довольна!</div>
                  <div class="comment__actions">
                    <button class="btn btn--like like js-like-comment">
                      <svg class="like__icon">
                        <use xlink:href="img/icons.svg#icon_like"></use>
                      </svg>
                      <span class="like__amount js-like-amount" data-amount="4">4</span>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="display-none">
    <div id="pop-up-comment" class="pop-up pop-up--comment js-pop-up">
      <div class="pop-up__wrapper">
        <button type="button" class="pop-up__btn-close js-pop-up-close mfp-close">
          <svg class="pop-up__icon-close">
            <use xlink:href="./img/icons.svg#icon_close"></use>
          </svg>
        </button>
        <div class="pop-up__container">
          <div class="pop-up__top">
            <div class="pop-up__title h3">Ваш комментарий</div>
          </div>
          <form class="form">
            <div class="form__item">
              <label class="form__label form__label--black">
                <span>Комментарий или вопрос</span>
                <textarea
                  class="form__input form__input--textarea form__input--double-height"
                  placeholder="Пожалуйста, укажите марку и, по возможности, модель техники. Подробно опишите неисправности, чтобы мастер мог ответить."
                ></textarea>
                <span class="form__prompt">Тект ошибки</span>
              </label>
            </div>
            <div class="form__item">
              <div class="dropzone">
                <div class="dropzone_preview"></div>
                <button type="button" class="btn btn--border dz-message dropzone__button-add" data-dz-message>
                  <svg class="btn__btn-icon">
                    <use xlink:href="./img/icons.svg#icon_clip"></use>
                  </svg>
                  <span>Прикрепить фото/видео</span>
                </button>
              </div>
            </div>
            <div class="form__item">
              <label class="form__label form__label--black">
                <span>Ваше имя</span>
                <input type="text" class="form__input" />
                <span class="form__prompt">Тект ошибки</span>
              </label>
            </div>
            <div class="form__item">
              <label class="form__label form__label--black">
                <span>E-mail</span>
                <input type="email" class="form__input" />
                <span class="form__prompt">Тект ошибки</span>
              </label>
              <div class="form__note">Чтобы мы выслали вам уведомление об ответе мастера</div>
            </div>
            <div class="form__buttons">
              <button class="js-pop-up-close mfp-close btn btn--blue form__button">Отправить</button>
              <div class="form__note">
                Нажимая на кнопку, я даю<br />
                <a href="" class="link link--blue">согласие на обработку своих персональных данных</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="pop-up-answer" class="pop-up pop-up--comment js-pop-up">
      <div class="pop-up__wrapper">
        <button type="button" class="pop-up__btn-close js-pop-up-close mfp-close">
          <svg class="pop-up__icon-close">
            <use xlink:href="./img/icons.svg#icon_close"></use>
          </svg>
        </button>
        <div class="pop-up__container">
          <div class="pop-up__top">
            <div class="pop-up__title h3">Ответить мастеру</div>
          </div>
          <form class="form">
            <div class="form__item">
              <label class="form__label form__label--black">
                <span>Комментарий или вопрос</span>
                <textarea
                  class="form__input form__input--textarea form__input--double-height"
                  placeholder="Пожалуйста, укажите марку и, по возможности, модель техники. Подробно опишите неисправности, чтобы мастер мог ответить."
                ></textarea>
                <span class="form__prompt">Тект ошибки</span>
              </label>
            </div>
            <div class="form__item">
              <div class="dropzone">
                <div class="dropzone_preview"></div>
                <button type="button" class="btn btn--border dz-message dropzone__button-add" data-dz-message>
                  <svg class="btn__btn-icon">
                    <use xlink:href="./img/icons.svg#icon_clip"></use>
                  </svg>
                  <span>Прикрепить фото/видео</span>
                </button>
              </div>
            </div>
            <div class="form__item">
              <label class="form__label form__label--black">
                <span>Ваше имя</span>
                <input type="text" class="form__input" />
                <span class="form__prompt">Тект ошибки</span>
              </label>
            </div>
            <div class="form__item">
              <label class="form__label form__label--black">
                <span>E-mail</span>
                <input type="email" class="form__input" />
                <span class="form__prompt">Тект ошибки</span>
              </label>
              <div class="form__note">Чтобы мы выслали вам уведомление об ответе мастера</div>
            </div>
            <div class="form__buttons">
              <button class="btn btn--blue form__button">Отправить</button>
              <div class="form__note">
                Нажимая на кнопку, я даю<br />
                <a href="" class="link link--blue">согласие на обработку своих персональных данных</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
