<div class="container">
  <div class="offer-wrapper offer-wrapper--calculate">
    <div class="offer-wrapper__img"></div>
    <div class="offer-wrapper__right">
      <div class="offer-wrapper__title">Узнайте, сколько стоит ремонт вашей стиральной машины</div>
      <div class="offer-wrapper__text">Воспользуйтесь онлайн-калькулятором, чтобы узнать тип поломки и цену ремонта.</div>
      <div class="offer-wrapper__button-wrapper">
        <button type="button" class="btn btn--orange"><span class="btn__text">Рассчитать ремонт</span></button>
      </div>
    </div>
  </div>
</div>
