<div class="container">
  <div class="instruction-top">
    <div class="top-page top-page--appliances">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a href="" class="breadcrumbs__link">
              <span>Главная</span>
              <svg class="breadcrumbs__link-icon">
                <use xlink:href="img/icons.svg#icon_triangle"></use>
              </svg>
            </a>
          </li>
          <li class="breadcrumbs__item current">
            <a href="" class="breadcrumbs__link">
              <span>Инструкции к бытовой технике</span>
              <svg class="breadcrumbs__link-icon">
                <use xlink:href="img/icons.svg#icon_triangle"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="top-page__content js-readmore readmore">
        <h1>Инструкции к бытовой технике</h1>
        <div class="top-page__row">
          <div class="top-page__right">
            <div class="top-page__wrapper  ">
              <div class="top-page__container ">
                <p class="top-page__text">
                  На сайте мастерской «РемБытТех» вы можете бесплатно скачать инструкции по эксплуатации на русском языке к следующим видам техники:
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="repairs repairs--visible-items">
        <div class="repairs__wrapper">
          <ul class="repairs__list">
            <li class="repairs__item">
              <a href="" class="repairs__link">
                <svg class="repairs__icon">
                  <use xlink:href="img/icons.svg#icon_fridge"></use>
                </svg>
                <span class="repairs__text">Холодильники</span>
                <svg class="repairs__icon repairs__icon--go">
                  <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                </svg>
              </a>
            </li>
            <li class="repairs__item ">
              <a href="" class="repairs__link">
                <svg class="repairs__icon">
                  <use xlink:href="img/icons.svg#icon_conditioners"></use>
                </svg>
                <span class="repairs__text">Кондиционеры</span>
                <svg class="repairs__icon repairs__icon--go">
                  <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                </svg>
              </a>
            </li>
            <li class="repairs__item">
              <a href="" class="repairs__link">
                <svg class="repairs__icon">
                  <use xlink:href="img/icons.svg#icon_dishwasher"></use>
                </svg>
                Посудомоечные машины
                <svg class="repairs__icon repairs__icon--go">
                  <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                </svg>
              </a>
            </li>
            <li class="repairs__item ">
              <a href="" class="repairs__link">
                <svg class="repairs__icon">
                  <use xlink:href="img/icons.svg#icon_washing-machine"></use>
                </svg>
                <span class="repairs__text">Стиральные машины</span>
                <svg class="repairs__icon repairs__icon--go">
                  <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                </svg>
              </a>
            </li>
            <li class="repairs__item ">
              <a href="" class="repairs__link">
                <svg class="repairs__icon">
                  <use xlink:href="img/icons.svg#icon_tv"></use>
                </svg>
                <span class="repairs__text">Телевизоры</span>
                <svg class="repairs__icon repairs__icon--go">
                  <use xlink:href="img/icons.svg#icon_arrow-go"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
