$white: #ffffff;
$black: #2d2d32;
$border-default: rgba(#ffffff, 0.2);
$orange: #f99e15;
$blue: #2364af;
$deep-blue: #003674;
$light-blue: #d3e8ed;
$black: #2d2d32;
$aquamarine: #51b2c0;
$gray: #898686;
$green: #51C069;
$light-gray: #f4f5f9;
$red: #EB5757;

$border-link: rgba(#2364af, 0.7);

$orange-gradient: linear-gradient(90deg, #F96715 0%, #F98315 51.56%, #F96715 100%);

