<div class="container">
  <div class="section-seo js-readmore  readmore" >
    <h2 class="section-seo__title">Мы ремонтируем бытовую технику прямо на дому!</h2>
    <div class="section-seo__wrapper readmore__wrapper js-readmore__wrapper">
      <div class="section-seo__container js-readmore__container ">
        <p class="section-seo__text section-seo__text--margin">Мы ценим ваше время, поэтому всегда стремимся выполнить ремонт бытовой техники на дому и в течение первого визита.</p>
        <p class="section-seo__text section-seo__text--second-margin">Исключения бывают только в случаях сложного ремонта (например, когда требуется пайка модуля управления бытовой техники - микросхемы) или ваша техника редкой марки или модели, и у мастера нет с собой необходимых запчастей.</p>
        <h3 class="section-seo__sub-title">Почему ремонт важно начать при первых признаках поломки?</h3>
        <p class="section-seo__text section-seo__text--margin">Сервисный центр «РемБытТех» выполняет ремонт бытовой техники на дому с 2003 года. Мы часто сталкиваемся с перегоревшими микросхемами, протечками, «убитыми» моторами, сгоревшими кинескопами. Многих из этих неисправностей вполне можно было избежать. Такие простые вещи, как профессиональный монтаж, соблюдение правил эксплуатации, стабилизаторы напряжения, регулярная чистка и уход за бытовой техникой значительно продлевают срок ее службы.</p>
        <p class="section-seo__text">Конечно, поломки случаются не только по неосторожности. У многих моделей есть различные конструктивные недостатки. Иногда бывают аварии из-за неудачного стечения обстоятельств. При любом подозрении на неисправность – необычный шум, гул, протечки, нарушения в переключениях режимов работы – звоните нам. Сразу, не откладывая!</p>
      </div>
    </div>
    <div class=" section-seo__buttons js-readmore__buttons readmore__buttons">
      <button class="btn-read-more btn-read-more--deploy js-readmore__btn-deploy readmore__button">Вся техника</button>
      <button class="btn-read-more btn-read-more--roll-up js-readmore__btn-roll-up readmore__button">Свернуть</button>
    </div>
  </div>
</div>
