<div class="container">
  <div class="top-page top-page--instruction-detail">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Главная</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Инструкции к бытовой технике</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Холодильники</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>AEG</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item current">
          <a href="" class="breadcrumbs__link">
            <span>AEG A 2495 GA6</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="top-page__content">
      <h1>Руководство по эксплуатации к морозильнику AEG A 2495 GA6</h1>
      <div class="top-page__row">
        <div class="top-page__image">
          <img data-src="./img/picture/test/instruction-test-1.jpg" src="./img/picture/test/instruction-test-1.jpg" alt="" />
        </div>
        <div class="top-page__right">
          <div class="top-page__wrapper">
            <div class="top-page__container">
              <p class="top-page__text">
                Вы можете бесплатно <a href="#">скачать инструкцию</a> по применению для морозильной камеры AEG A 2495 GA6 на русском языке или
                просмотреть руководство в браузере по кнопке ниже.
              </p>
              <div class="top-page__instruction-link instruction-link">
                <a href="#" class="instruction-link__link">
                  <svg class="instruction-link__icon">
                    <use xlink:href="img/icons.svg#icon_pdf"></use>
                  </svg>
                  <span class="instruction-link__text">Посмотреть инструкцию в&nbsp;браузере (1,64&nbsp;МБ)</span>
                </a>
                <!--                <div class="instruction-link__captcha">контейнер для вставки каптчи</div>-->
              </div>
              <p class="top-page__text">
                Дополнительные вопросы по использованию или ремонту морозильной камеры AEG A 2495 GA6 вы можете задать мастеру «РемБытТех» в
                комментариях внизу страницы или в разделе <a href="">Вопрос-Ответ</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
