<div class="container">
  <div class="feedback">
    <div class="feedback-top">
      <div class="top-page">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a href="" class="breadcrumbs__link">
                <span>Главная</span>
                <svg class="breadcrumbs__link-icon">
                  <use xlink:href="img/icons.svg#icon_triangle"></use>
                </svg>
              </a>
            </li>
            <li class="breadcrumbs__item current">
              <a href="" class="breadcrumbs__link">
                <span>Отзывы</span>
                <svg class="breadcrumbs__link-icon">
                  <use xlink:href="img/icons.svg#icon_triangle"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="top-page__content feedback-top__content  ">
          <h1>Отзывы</h1>
          <div class="top-page__row">
            <div class="top-page__right">
              <div class="top-page__wrapper feedback-top__wrapper  ">
                <div class="top-page__container ">
                  <p class="top-page__text">
                    Мы благодарны за отзывы и предложения — нам важно знать ваше мнение.</p>
                  <p class="top-page__text top-page__text--gray">
                    Если вы не удовлетворены работой мастера, напишите претензию на <a href="mailto:director@rembitteh.ru">director@rembitteh.ru</a>.
                   <br> В письме укажите адрес проведённого ремонта для идентификации заявки.
                  </p>
                </div>
                <div class="feedback__positive percentage-reviews">
                  <svg class="percentage-reviews__icon">
                    <use xlink:href="img/icons.svg#icon_like-color"></use>
                  </svg>
                  <div class="percentage-reviews__percentage">96%</div>
                  <span class="percentage-reviews__text">положительных отзывов</span>
                </div>
              </div>
              <div class="top-page__button">
                <a href="#review-popup" class=" js-popup-btn btn btn--blue">Оставить отзыв</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
