<div class="container">
  <div class="video">
    <h2 class="video__title">Как мы работаем</h2>
    <div class="video__iframe video-iframe-holder js-iframe-holder-youtube">
      <div class="video-iframe-holder__image">
        <img data-src="./img/picture/video-preview.png" src="./img/picture/video-preview.png" alt="" />
      </div>
      <button type="button" class="video-iframe-holder__btn js-insert-video">
        <svg class="video-iframe-holder__btn-icon">
          <use xlink:href="img/icons.svg#icon_play"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
