<footer class="footer">
    <div class="container-footer">
        <div class="footer__top">
            <ul class="social-network">
                <li class="social-network__item">
                    <a href="https://vk.com/" class="social-network__link">
                        <svg class="social-network__icon" width="22" height="13">
                            <use xlink:href="img/icons.svg#icon_vk" ></use>
                        </svg>
                    </a>
                </li>
                <li class="social-network__item">
                    <a href="https://facebook.com/" class="social-network__link">
                        <svg class="social-network__icon" width="12" height="22">
                            <use xlink:href="img/icons.svg#icon_fb"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-network__item">
                    <a href="https://instagram.com" class="social-network__link">
                        <svg class="social-network__icon" width="22" height="22">
                            <use xlink:href="img/icons.svg#icon_instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-network__item">
                    <a href="https://youtube.com" class="social-network__link">
                        <svg class="social-network__icon" width="22" height="16">
                            <use xlink:href="img/icons.svg#icon_youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <ul class="contacts">
                    <li class="contacts__item">
                        <svg class="contacts__icon" width="24" height="24">
                            <use xlink:href="img/icons.svg#icon_clock" ></use>
                        </svg>
                      <div class="contacts__text">
                        Работаем с 8:00 до 22:00 без выходных
                      </div>
                    </li>
                <li class="contacts__item contacts__item--phone ">
                    <svg class="contacts__icon" width="24" height="24">
                        <use xlink:href="img/icons.svg#icon_phone" ></use>
                    </svg>
                  <div class="contacts__text">
                    <a href="tel:74952151441" class="contacts__link link link--dashed">+7 (495) 215 14 41</a>
                    <a href="tel:79037221703" class="contacts__link link link--dashed">+7 (903) 722 17 03</a>
                  </div>

                </li>
                <li class="contacts__item">
                    <svg class="contacts__icon" width="24" height="20">
                        <use xlink:href="img/icons.svg#icon_mail" ></use>
                    </svg>
                  <div class="contacts__text">
                    <a href="mailto:info@rembitteh.ru" class="contacts__link link">info@rembitteh.ru</a>
                  </div>
                </li>
                <li class="contacts__item">
                    <svg class="contacts__icon" width="20" height="24">
                        <use xlink:href="img/icons.svg#icon_geo" ></use>
                    </svg>
                  <div class="contacts__text">
                    109598 г. Москва, ул. Гурьянова д. 4 к. 2
                  </div>
                </li>
            </ul>
        </div>
    </div>
    <ul class=" footer__mobile-menu menu-accordion js-accordion ">
        <li class="menu-accordion__item js-accordion__item">
    <span class="menu-accordion__label">Ремонт</span>
    <div class="menu-accordion__container js-accordion-container">
        <ul class="menu js-accordion-container-wrapper">
          <li class="menu__item">
            <a href="" class="link menu__link">Холодильники</a>
          </li>
          <li class="menu__item">
            <a href="" class="link menu__link">Стиральные машины</a>
          </li>
          <li class="menu__item">
            <a href="" class="link menu__link">Посудомоечные машины</a>
          </li>
          <li class="menu__item">
            <a href="" class="link menu__link">Телевизоры</a>
          </li>
          <li class="menu__item">
            <a href="" class="link menu__link">Кондиционеры</a>
          </li>
          <li class="menu__item">
            <a href="" class="link menu__link">Варочные панели</a>
          </li>
          <li class="menu__item">
            <a href="" class="link menu__link">Электроплиты</a>
          </li>
          <li class="menu__item">
            <a href="" class="link menu__link">Духовые шкафы</a>
          </li>
          <li class="menu__item">
            <a href="" class="link menu__link">Морозильные камеры</a>
          </li>
          <li class="menu__item">
            <a href="" class="link menu__link">Сушильные машины</a>
          </li>
        </ul>
    </div>
  </li>
       <li class="menu-accordion__item js-accordion__item">
        <span class="menu-accordion__label">Установка</span>
        <div class="menu-accordion__container js-accordion-container">
          <ul class="menu js-accordion-container-wrapper">
            <li class="menu__item">
              <a href="" class="link menu__link">Стиральные машины</a>
            </li>
            <li class="menu__item">
              <a href="" class="link menu__link">Посудомоечные машины</a>
            </li>
            <li class="menu__item">
              <a href="" class="link menu__link">Кондиционеры</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-accordion__item js-accordion__item">
        <span class="menu-accordion__label">Информация</span>
        <div class="menu-accordion__container js-accordion-container">
          <ul class="menu js-accordion-container-wrapper">
            <li class="menu__item">
              <a href="" class="link menu__link">Цены</a>
            </li>
            <li class="menu__item">
              <a href="" class="link menu__link">Блог</a>
            </li>
            <li class="menu__item">
              <a href="" class="link menu__link">Вопрос-ответ</a>
            </li>
            <li class="menu__item">
              <a href="" class="link menu__link">География</a>
            </li>
            <li class="menu__item">
              <a href="" class="link menu__link">Отзывы</a>
            </li>
            <li class="menu__item">
              <a href="" class="link menu__link">Гарантийный случай</a>
            </li>
            <li class="menu__item">
              <a href="" class="link menu__link">Мастера</a>
            </li>
            <li class="menu__item">
              <a href="" class="link menu__link">Сертификаты</a>
            </li>
            <li class="menu__item">
              <a href="" class="link menu__link">Инструкции к технике</a>
            </li>
            <li class="menu__item">
              <a href="" class="link menu__link">Контакты</a>
            </li>
          </ul>
        </div>
      </li>
</ul>

    <div class="container-footer">
        <div class="footer__bottom">
          <div class="copywriter">
            <div class="copywriter__text">
              © 2003-2020 Сервис-Центр «РемБытТех»
              Содержимое сайта не является публичной офертой
            </div>
            <a class="copywriter__link link">Политика конфиденциальности</a>
          </div>
          <div class="footer__menu-wrapper">
            <ul class="footer-menu">
              <li class="footer-menu__title">
                Ремонт
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Холодильники</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Стиральные машины</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Посудомоечные машины</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Телевизоры</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Кондиционеры</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Варочные панели</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Электроплиты</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Духовые шкафы</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Морозильные камеры</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Сушильные машины</a>
              </li>
            </ul>



            <ul class="footer-menu">
              <li class="footer-menu__title">
                Установка
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Стиральные машины</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Посудомоечные машины</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Кондиционеры</a>
              </li>
            </ul>
            <ul class="footer-menu">
              <li class="footer-menu__title">
                Информация
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Цены</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Блог</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Вопрос-ответ</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">География</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Отзывы</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Гарантийный случай</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Мастера</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Сертификаты</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Инструкции к технике</a>
              </li>
              <li class="footer-menu__item">
                <a href="" class="link footer-menu__link">Контакты</a>
              </li>
            </ul>
          </div>
          <a href="#query-repairs-popup" class="js-popup-btn btn btn--orange footer__button"><span class="btn__text">Заказать ремонт</span></a>
        </div>
    </div>
</footer>
<script async src="./js/main.js"></script>

</body>

</html>
