<div class="container">
  <div class="offer-wrapper offer-wrapper--call-now offer-wrapper--washer">
    <div class="offer-wrapper__inner">
      <div class="offer-wrapper__img">
        <div class="offer-wrapper__img-tech">
          <img data-src="./img/picture/washer.png" src="./img/picture/washer.png" alt="" />
        </div>
        <div class="offer-wrapper__img-man">
          <img data-src="./img/picture/master.png" src="./img/picture/master.png" alt="" />
        </div>
      </div>
      <div class="offer-wrapper__right">
        <div class="offer-wrapper__title">Звоните прямо сейчас!</div>
        <div class="offer-wrapper__text">
          Ответим на&nbsp;все вопросы по&nbsp;телефонам<br />
          <a href="tel:+74952151441">+7 (495) 215 14 41 </a> или&nbsp;<a href="tel:+79037221703">+7 (903) 722 17 03</a>
        </div>
        <div class="offer-wrapper__bottom">
          <form class="offer-wrapper__form">
            <div class="input input--call-now">
              <label for="question-call" class="input__label"></label>
              <div class="input__inner">
                <input type="text" id="question-call" class="input__field js-phone" placeholder="Номер телефона" />
                <div class="input__prompt">Текст подсказки/ошибки</div>
              </div>
              <div class="offer-wrapper__button-submit">
                <button type="button" class="btn btn--orange"><span class="btn__text">Заказать ремонт</span></button>
              </div>
            </div>
          </form>
        </div>
        <div class="offer-wrapper__bottom-mobile">
          <a href="#call-back-popup" class="btn btn--orange js-popup-btn"><span class="btn__text">Перезвоните мне</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
