<div class="container">
  <div class="service-geography">
    <div class="service-geography__top">
      <h2 class="service-geography__title">География обслуживания</h2>
      <a href="" class="btn btn--border service-geography__btn">
        <span class="btn__text">Перейти в раздел</span>
        <svg class="service-geography__btn-icon btn__btn-icon">
          <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="container container--offset-lg-up">
  <div class="yandex-map js-map">
    <iframe
      data-src="https://yandex.ru/map-widget/v1/?um=constructor%3A2a2fdbd44f540667bb5093d746e4a486c0ce23539c462004a71173b8dfadeff1&amp;source=constructor"
    ></iframe>
  </div>
  <div class="btn-mobile-wrapper">
    <a href="" class="btn btn--border btn-mobile">
      <span class="btn__text">Перейти в раздел</span>
      <svg class="btn__btn-icon">
        <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
      </svg>
    </a>
  </div>
</div>
