<div class="container">
  <div class="container-small">
    <div class="instruction-seo page-content">
      <h2>Ремонт машинок Candy Aquamatic 600</h2>
      <p>
        Мастерская «РемБытТех» устранит поломку в вашей стиральной машине Candy Aquamatic 600 прямо на дому. Мы работаем в Москве и
        <a href="">ближнем Подмосковье</a>
        ежедневно с 8 до 22 часов. Поэтому вы можете вызвать мастера в любое удобное вам время – даже поздним вечером. Специалист «РемБытТех» приедет
        к вам уже в течение 24 часов после вызова и с гарантией до 2 лет отремонтирует стиральную машину любого года выпуска.
      </p>
    </div>
  </div>
</div>
