<div class="container">
  <div class="top-page top-page--questions">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__link">
            <span>Главная</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
        <li class="breadcrumbs__item current">
          <a href="" class="breadcrumbs__link">
            <span>Вопрос-ответ</span>
            <svg class="breadcrumbs__link-icon">
              <use xlink:href="img/icons.svg#icon_triangle"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="top-page__content">
      <h1>Вопрос-ответ</h1>
      <div class="top-page__text">
        Задавайте ваши вопросы по ремонту любой бытовой техники или электроники!
        <span class="top-page__text-bold">Всего уже задано вопросов — <span class="js-format-price">40000</span>!</span>
      </div>
      <div class="top-page__row">
        <div class="top-page__help-result question-help-result js-positive-progress" data-assessment="40000">
          <div class="question-help-result__title">Ответ мастера помог:</div>
          <div class="question-help-result__container">
            <div class="question-help-result__row">
              <div
                class="question-help-result__value question-help-result__value--positive js-positive-value js-format-price"
                data-pos-assessment="20000"
              >
                20000
              </div>
              <div class="question-help-result__value question-help-result__value--negative js-format-price">20000</div>
            </div>
            <div class="question-help-result__inner">
              <div class="question-help-result__value-row">
                <div class="question-help-result__positive-value js-positive-row"></div>
              </div>
              <div class="question-help-result__between js-positive-row-between"></div>
            </div>
            <div class="question-help-result__row">
              <div class="question-help-result__answer">Да</div>
              <div class="question-help-result__answer">Нет</div>
            </div>
          </div>
        </div>
        <div class="top-page__button">
          <a href="#question-popup" class="js-popup-btn btn btn--blue">Задать свой вопрос</a>
        </div>
      </div>
    </div>
  </div>
</div>
