<div class="container">
  <div class="container-small">
    <div class="chief-master">
      <div class="chief-master__title h2">Старший мастер «РемБытТех» в СЗАО города Москвы – Синицын Александр Кириллович</div>
      <div class="chief-master__container">
        <div class="chief-master__avatar">
          <img data-src="./img/picture/avatar-master.jpg" src="./img/picture/avatar-master.jpg" alt="" />
        </div>
        <div class="chief-master__description js-readmore readmore">
          <div class="chief-master__wrapper readmore__wrapper js-readmore__wrapper">
            <div class="js-readmore__container">
              <p class="top-page__text">
                Старший мастер СЗАО – Синицын Александр Кириллович. Он прошел курс обучения в сервисе центра Siemens, а также изучил и провел сам
                множество учебных программ в «РемБытТех». За последние несколько лет Александр Кириллович починил лично, а также курировал починку в
                нашем сервисном центре нескольких тысяч предметов бытовой техники.
              </p>
              <p class="top-page__text">
                Отзывы клиентов о старшем мастере СЗАО исключительно хорошие. Надеемся, что это связано не с его увлечением восточными единоборствами,
                а с высшим психологическим образованием. Синицын окончил Невский институт экспертологии в Санкт-Петербурге и успел поработать по этой
                специальности до того, как занялся бытовой электроникой.
              </p>
            </div>
          </div>
          <div class="js-readmore__buttons readmore__buttons">
            <button class="btn-read-more btn-read-more--deploy js-readmore__btn-deploy readmore__button">Читать далее</button>
            <button class="btn-read-more btn-read-more--roll-up js-readmore__btn-roll-up readmore__button">Свернуть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
