<div class="container">
  <div class="container-small">
    <div class="instruction-detail">
      <h2 class="instruction-detail__title">Характеристики модели</h2>
      <ul class="instruction-detail__list menu-accordion js-accordion">
        <li class="menu-accordion__item instruction-detail-item js-accordion__item">
          <span class="menu-accordion__label instruction-detail-item__label">
            <span>Характеристики модели</span>
            <svg class="menu-accordion__label-icon instruction-detail-item__label-icon">
              <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
            </svg>
          </span>
          <div class="menu-accordion__container instruction-detail-item__container js-accordion-container">
            <div class="instruction-table js-accordion-container-wrapper">
              <div class="instruction-table__item">
                <div class="instruction-table__row">
                  <div class="instruction-table__name">Тип</div>
                  <div class="instruction-table__value">Морозильник-шкаф</div>
                </div>
              </div>
              <div class="instruction-table__item">
                <div class="instruction-table__row">
                  <div class="instruction-table__name">Количество камер</div>
                  <div class="instruction-table__value">1</div>
                </div>
              </div>
              <div class="instruction-table__item">
                <div class="instruction-table__row">
                  <div class="instruction-table__name">Размеры (ШхГхВ)</div>
                  <div class="instruction-table__value">59.5x60x180 см</div>
                </div>
              </div>
              <div class="instruction-table__item">
                <div class="instruction-table__row">
                  <div class="instruction-table__name">Кол-во компрессоров</div>
                  <div class="instruction-table__value">Ручное</div>
                </div>
              </div>
              <div class="instruction-table__item">
                <div class="instruction-table__row">
                  <div class="instruction-table__name">Размораживание холодильной камеры</div>
                  <div class="instruction-table__value">-</div>
                </div>
              </div>
              <div class="instruction-table__item">
                <div class="instruction-table__row">
                  <div class="instruction-table__name">Тип</div>
                  <div class="instruction-table__value">Морозильник-шкаф</div>
                </div>
              </div>
              <div class="instruction-table__item">
                <div class="instruction-table__row">
                  <div class="instruction-table__name">Энергопотребление</div>
                  <div class="instruction-table__value">Класс А</div>
                </div>
              </div>
              <div class="instruction-table__item">
                <div class="instruction-table__row">
                  <div class="instruction-table__name">Цвет</div>
                  <div class="instruction-table__value">-</div>
                </div>
              </div>
              <div class="instruction-table__item">
                <div class="instruction-table__row">
                  <div class="instruction-table__name">Хладагент</div>
                  <div class="instruction-table__value">-</div>
                </div>
              </div>
              <div class="instruction-table__item">
                <div class="instruction-table__row">
                  <div class="instruction-table__name">Вес</div>
                  <div class="instruction-table__value">-</div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
