<div id="review-popup-msg-popup" class="pop-up js-pop-up ">
  <div class="pop-up__wrapper">
    <button type="button" class="pop-up__btn-close js-pop-up-close mfp-close">
      <svg class="pop-up__icon-close">
        <use xlink:href="./img/icons.svg#icon_close"></use>
      </svg>
    </button>
    <div class="pop-up__container">
      <div class="pop-up__top">
        <div class="pop-up__title h1">спасибо за отзыв!</div>
        <p class="pop-up__text">
          Ваш отзыв принят и&nbsp;находится по&nbsp;адресу
          <a class="link link--blue" href="https://rembitteh.ru/reviews/id-review/"><span>https://rembitteh.ru/reviews/id-review/</span></a>
        </p>
        <p class="pop-up__text">Когда отзыв будет опубликован, вы получите уведомление на указанный e-mail</p>
      </div>
      <a  href="/" class="btn btn--blue">Вернуться на главную</a>
    </div>
  </div>
</div>
