<div class="container">
  <div class="container-small">
    <div class="price-list-top">
      <h2 class="price-list-top__title">Типовые расценки на ремонт по маркам холодильника</h2>
      <div class="price-list-top__text">
        <p>Цены в таблице только за ремонтные работы, запчасти и комплектующие оплачиваются дополнительно.</p>
      </div>
    </div>
  </div>
</div>
<div class="container container--offset-lg-up">
  <div class="container-small">
    <div class="price-list">
      <div class="price-list__warning">
        <div class="price-list__title">Выезд мастера и диагностика — бесплатно!</div>
        <div class="price-list__text">В случае отказа от ремонта, услуга стоит 400 руб. Ложный вызов — 1000 руб.</div>
      </div>
      <div class="table">
        <div class="price-list-table price-list-table--small price-list-table--full-visible">
          <div class="price-list-table__top">
            <div class="price-list-table__left">
              <span class="price-list-table__col-price">цена работ</span>
            </div>
            <div class="price-list-table__right">
              <span class="price-list-table__col-time">гарантия</span>
            </div>
          </div>
          <div class="price-list-table__row">
            <div class="price-list-table__col price-list-table__col--left">
              <div class="price-list-table__label">Стинол</div>
              <div class="price-list-table__price">от 1 300 руб.</div>
            </div>
            <div class="price-list-table__col price-list-table__col--right">
              <div class="price-list-table__time">до 1 года</div>
            </div>
          </div>
          <div class="price-list-table__row">
            <div class="price-list-table__col price-list-table__col--left">
              <div class="price-list-table__label">Атлант</div>
              <div class="price-list-table__price">от 1 300 руб.</div>
            </div>
            <div class="price-list-table__col price-list-table__col--right">
              <div class="price-list-table__time">до 1 года</div>
            </div>
          </div>
          <div class="price-list-table__row">
            <div class="price-list-table__col price-list-table__col--left">
              <div class="price-list-table__label">Самсунг</div>
              <div class="price-list-table__price">от 1 300 руб.</div>
            </div>
            <div class="price-list-table__col price-list-table__col--right">
              <div class="price-list-table__time">до 1 года</div>
            </div>
          </div>
          <div class="price-list-table__row">
            <div class="price-list-table__col price-list-table__col--left">
              <div class="price-list-table__label">Electrolux</div>
              <div class="price-list-table__price">от 1 300 руб.</div>
            </div>
            <div class="price-list-table__col price-list-table__col--right">
              <div class="price-list-table__time">до 1 года</div>
            </div>
          </div>
          <div class="price-list-table__row">
            <div class="price-list-table__col price-list-table__col--left">
              <div class="price-list-table__label">Liebherr</div>
              <div class="price-list-table__price">от 1 300 руб.</div>
            </div>
            <div class="price-list-table__col price-list-table__col--right">
              <div class="price-list-table__time">до 1 года</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
