<div class="container">
  <div class="container-small">
    <div class="contacts-page">
      <div class="contacts-page__top">
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a href="" class="breadcrumbs__link">
                <span>Главная</span>
                <svg class="breadcrumbs__link-icon">
                  <use xlink:href="img/icons.svg#icon_triangle"></use>
                </svg>
              </a>
            </li>
            <li class="breadcrumbs__item current">
              <a href="" class="breadcrumbs__link">
                <span>Контакты</span>
                <svg class="breadcrumbs__link-icon">
                  <use xlink:href="img/icons.svg#icon_triangle"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h1 class="contacts-page__title">Контакты</h1>
        <p class="contacts-page__text"> Мы&nbsp;выполним ремонт в&nbsp;удобное для вас время по&nbsp;всей территории Москвы и&nbsp;ближайшего Подмосковья. <a
          href="">Перейти к&nbsp;карте обслуживания.</a></p>
      </div>
      <div class="contacts-page__row">
        <div class="contact  contacts-page-contact contacts-page-contact--margin">
          <div class="contact__label contacts-page-contact__label">
            Телефоны:
          </div>
          <div class="contact__container">
            <ul class="contact__list contacts-page-contact__list">
              <li class="contact__item contacts-page-contact__item">
                <a href="tel:+74952151441" class="contact__link contacts-page-contact__link">+7 (495) 215&mdash;14&mdash;41</a>
              </li>
              <li class="contact__item contacts-page-contact__item">
                <a href="tel:+79037221703" class="contact__link contacts-page-contact__link">+7 (903) 722&mdash;17&mdash;03</a>
              </li>
              <li class="contact__item contacts-page-contact__item">
                <a href="tel:+79037221703" class="contact__link contacts-page-contact__link">+7 (903) 722&mdash;17&mdash;03</a>
              </li>
            </ul>
            <div class="contact__note contacts-page-contact__note">
              Прием заявок на&nbsp;ремонт/установку принимается с&nbsp;8:00 до&nbsp;22:00&nbsp;ежедневно!
            </div>
          </div>
          <a href="#query-repairs-popup" class="btn btn--blue contacts-page-contact__button js-popup-btn">Оставить online заявку</a>
        </div>
        <div class="contact contacts-page-contact ">
          <div class="contact__label contacts-page-contact__label">
            E-mail:
          </div>
          <div class="contact__container">
            <ul class="contact__list contacts-page-contact__list">
              <li class="contact__item contacts-page-contact__item">
                <a href="mailto:director@rembitteh.ru" class="contact__link contact__link--email">director@rembitteh.ru</a>
                <div class="contact__note">Для претензий&nbsp;&mdash; если вы&nbsp;не&nbsp;удовлетворены работой мастера.</div>
              </li>
              <li class="contact__item contacts-page-contact__item">
                <a href="mailto:info@rembitteh.ru" class="contact__link contact__link--email">info@rembitteh.ru</a>
                <div class="contact__note">По&nbsp;остальным вопросам.</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="contacts-page__content">
        <h2 class="contacts-page__sub-title">Адреса</h2>
        <ul class="address ">
          <li class=" address__item js-spoiler js-no-spoiler-lg">
            <div class=" address__label js-spoiler-btn ">
              <span>Мастерская (м.Рязанский проспект)</span>
              <svg class="address__icon">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="address__container js-spoiler-container ">
              <div class=" address__content js-spoiler-content">
                <p class="address__text">Ремонт телевизионной техники и&nbsp;стиральных машин. Прием техники. Ремонт модулей управления стиральных и&nbsp;посудомоечных машин.</p>
                <p class="address__text"><b>Адрес:</b> 109377, Москва, ул. 1-я Новокузьминская д.&nbsp;23&nbsp;к.&nbsp;2</p>
                <p class="address__text"><b>Время работы:</b> 10:00&nbsp;&mdash; 20:00</p>
                <p class="address__text"><b>Как пройти:</b> С&nbsp;торца здания&nbsp;&mdash; вход в&nbsp;подвал, далее первая дверь слева.</p>
                <div class="address__img-wrapper">
                  <div class="address__img ">
                    <img data-src="img/picture/map-route.jpg" src="img/picture/map-route.jpg" alt=""/>
                  </div>
                  <div class="address__img address__img--door">
                    <img data-src="img/picture/address-door.jpg" alt="" src="img/picture/address-door.jpg"/>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class=" address__item js-spoiler js-no-spoiler-lg">
            <div class=" address__label js-spoiler-btn ">
              <span>Приёмный пункт</span>
              <svg class="address__icon">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="address__container js-spoiler-container ">
              <div class=" address__content js-spoiler-content">
                <p class="address__text"><b>Адрес: </b>109651, Москва, ул. Перерва, дом&nbsp;1, строение 2</p>
                <p class="address__text"><b>Время работы:</b> 9:00&nbsp;&mdash; 17:00</p>
                <div class="address__img ">
                  <img data-src="img/picture/map.jpg" src="img/picture/map.jpg" alt=""/>
                </div>
              </div>
            </div>
          </li>
          <li class=" address__item js-spoiler js-no-spoiler-lg">
            <div class=" address__label js-spoiler-btn ">
              <span>Диспетчерская служба</span>
              <svg class="address__icon">
                <use xlink:href="img/icons.svg#icon_arrow-multi-color"></use>
              </svg>
            </div>
            <div class="address__container js-spoiler-container ">
              <div class=" address__content js-spoiler-content">
                <p class="address__text"><b>Адрес:</b> 109548, Москва, ул. Гурьянова, дом&nbsp;4, корпус 2</p>
                <p class="address__text"><b>Время работы:</b> 8:00&nbsp;&mdash; 22:00</p>
                <div class="address__img ">
                  <img data-src="img/picture/map-2.jpg" src="img/picture/map-2.jpg" alt=""/>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="requisites">
          <div class="requisites__title">Реквизиты</div>
          <p class="requisites__text ">ИП&nbsp;Жернов&nbsp;С.&nbsp;А.</p>
          <p class="requisites__text "><b>ОГРНИП:</b> 310504923100030</p>
          <p class="requisites__text "><b>ИНН:</b> 452600015541</p>
          <p class="requisites__text "><b>Юридический адрес:</b> 115487&nbsp;Москва, ул. Садовники, 5</p>
          <p class="requisites__text "><b>Банк:</b> ОАО &laquo;Сбербанк России&raquo; г. Москва</p>
          <p class="requisites__text "><b>БИК:</b> 044525787</p>
          <p class="requisites__text "><b>Расчетный счет:</b> 0802810438060022458</p>
          <p class="requisites__text "><b>Корр. счет:</b> 30101810400000000225</p>
        </div>
      </div>
    </div>
  </div>
</div>
