<div class="container">
  <div class="actions">
    <h2 class="actions__title">Скидки</h2>
    <div class="slider slider--actions swiper-container js-swiper-container">
      <div class="slider__wrapper swiper-wrapper actions__list action-item-list">
        <div class="action-item-list__item slider__item swiper-slide">
          <a href="" class="action-item orange">
            <div class="action-item__bg" style="background-image: url('./img/picture/test/action-item-1.jpg')"></div>
            <div class="action-item__text"><span class="number">-20%</span> пенсионерам</div>
          </a>
        </div>
        <div class="action-item-list__item slider__item swiper-slide">
          <a href="" class="action-item blue">
            <div class="action-item__bg" style="background-image: url('./img/picture/test/action-item-2.jpg')"></div>
            <div class="action-item__text"><span class="number">-15%</span> студентам</div>
          </a>
        </div>
        <div class="action-item-list__item slider__item swiper-slide">
          <a href="" class="action-item lightblue">
            <div class="action-item__bg" style="background-image: url('./img/picture/test/action-item-1.jpg')"></div>
            <div class="action-item__text"><span class="number">-20%</span> в День Рождения</div>
          </a>
        </div>
        <div class="action-item-list__item slider__item swiper-slide">
          <a href="" class="action-item orange">
            <div class="action-item__bg" style="background-image: url('./img/picture/test/action-item-1.jpg')"></div>
            <div class="action-item__text"><span class="number">-20%</span> пенсионерам</div>
          </a>
        </div>
        <div class="action-item-list__item slider__item swiper-slide">
          <a href="" class="action-item blue">
            <div class="action-item__bg" style="background-image: url('./img/picture/test/action-item-2.jpg')"></div>
            <div class="action-item__text"><span class="number">-15%</span> студентам</div>
          </a>
        </div>
        <div class="action-item-list__item slider__item swiper-slide">
          <a href="" class="action-item lightblue">
            <div class="action-item__bg" style="background-image: url('./img/picture/test/action-item-1.jpg')"></div>
            <div class="action-item__text"><span class="number">-20%</span> в День Рождения</div>
          </a>
        </div>
      </div>
      <div class="slider__btn slider__btn--prev swiper-button-prev js-btn-prev">
        <svg class="slider__btn-icon">
          <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
        </svg>
      </div>
      <div class="slider__btn slider__btn--next swiper-button-next js-btn-next">
        <svg class="slider__btn-icon">
          <use xlink:href="img/icons.svg#icon_arrow-go-big"></use>
        </svg>
      </div>
      <div class="slider__scrollbar swiper-scrollbar js-swiper-scrollbar"></div>
    </div>
  </div>
  <div class="actions__bottom">Для получения скидки покажите мастеру подтверждающий документ. Скидки не&nbsp;суммируются.</div>
</div>
